{"openapi":"3.0.0","info":{"title":"INVOKA API","description":"API de procesamiento de documentos electr\u00f3nicos para Ecuador. Sistema de facturaci\u00f3n electr\u00f3nica basado en cr\u00e9ditos para desarrolladores.\n\n## Ejemplos de c\u00f3digo\n\nEsta documentaci\u00f3n incluye ejemplos de c\u00f3digo autom\u00e1ticos para cada endpoint en m\u00faltiples lenguajes:\n\n- **cURL** - Comandos de terminal listos para usar\n- **JavaScript** - Con fetch API nativo\n- **PHP** - Con cURL nativo\n- **Python** - Con requests library\n\nTodos los ejemplos incluyen el header `X-API-KEY` requerido para autenticaci\u00f3n.","version":"1.0.0","contact":{"name":"Invoka Support","email":"support@invoka.com"}},"servers":[{"url":"https:\/\/www.invoka.com.ec","description":"Servidor de desarrollo"}],"security":[{"ApiKeyAuth":[]}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-KEY","description":"Clave API del usuario para autenticaci\u00f3n"}},"schemas":{"EmpresaCreate":{"type":"object","required":["ruc","razon_social"],"properties":{"ruc":{"type":"string","example":"1234567890001","description":"RUC de la empresa (13 d\u00edgitos)"},"razon_social":{"type":"string","example":"Empresa Demo S.A.","description":"Raz\u00f3n social de la empresa"},"ncontribuyenteespecial":{"type":"string","nullable":true,"example":"12345","description":"N\u00famero de contribuyente especial"},"calificacionartesanal":{"type":"string","nullable":true,"example":"ARTESANO","description":"Calificaci\u00f3n artesanal"},"exportador_habitual":{"type":"boolean","default":false,"description":"Exportador habitual"},"grancontribuyente":{"type":"boolean","default":false,"description":"Gran contribuyente"},"agenteretencion":{"type":"boolean","default":false,"description":"Agente de retenci\u00f3n. IMPORTANTE: Si es true, numero_resolucion es obligatorio"},"contabilidad":{"type":"boolean","default":false,"description":"Obligado a llevar contabilidad"},"regimen_rimpe":{"type":"boolean","default":false,"description":"R\u00e9gimen RIMPE. IMPORTANTE: Solo uno de los reg\u00edmenes puede estar activo"},"regimen_rimpe_popular":{"type":"boolean","default":false,"description":"R\u00e9gimen RIMPE Popular. IMPORTANTE: Solo uno de los reg\u00edmenes puede estar activo"},"numero_resolucion":{"type":"string","nullable":true,"example":"NAC-DGERCGC20-00000001","description":"N\u00famero de resoluci\u00f3n. OBLIGATORIO si agente_retencion = true"},"smtp":{"type":"boolean","default":false,"description":"Habilitar configuraci\u00f3n SMTP personalizada"},"smtp_host":{"type":"string","nullable":true,"example":"smtp.gmail.com","description":"Servidor SMTP. OBLIGATORIO si smtp = true"},"smtp_port":{"type":"integer","nullable":true,"example":587,"description":"Puerto SMTP. OBLIGATORIO si smtp = true"},"smtp_user":{"type":"string","nullable":true,"example":"noreply@empresa.com","description":"Usuario SMTP. OBLIGATORIO si smtp = true"},"smtp_password":{"type":"string","nullable":true,"example":"password123","description":"Contrase\u00f1a SMTP. OBLIGATORIO si smtp = true"},"smtp_encryption":{"type":"string","nullable":true,"enum":["tls","ssl",null],"example":"tls","description":"Tipo de encriptaci\u00f3n SMTP (tls, ssl o null)"},"smtp_from_email":{"type":"string","nullable":true,"example":"noreply@empresa.com","description":"Email remitente SMTP. OBLIGATORIO si smtp = true"},"smtp_from_name":{"type":"string","nullable":true,"example":"Empresa Demo S.A.","description":"Nombre del remitente SMTP"}}},"EmpresaResponse":{"type":"object","properties":{"respuesta":{"type":"boolean","example":true},"mensaje":{"type":"string","example":"Empresa creada exitosamente"},"data":{"type":"object","properties":{"id":{"type":"integer","example":1},"ruc":{"type":"string","example":"1234567890001"},"razon_social":{"type":"string","example":"Empresa Demo S.A."}}}}},"ErrorResponse":{"type":"object","properties":{"respuesta":{"type":"boolean","example":false},"errors":{"type":"object","example":{"ruc":["El campo RUC es obligatorio"]}}}}}},"paths":{"\/api\/empresa\/crear":{"post":{"tags":["Empresas"],"summary":"Crear nueva empresa","description":"Crear una nueva empresa en el sistema con campos de impuestos y SMTP opcionales. \n\n**REGLAS DE NEGOCIO IMPORTANTES:**\n\n**Impuestos:**\n- Solo un r\u00e9gimen puede estar activo (RIMPE o RIMPE Popular, no ambos)\n- Si agente_retencion=true, numero_resolucion es obligatorio\n- RUC debe tener 13 d\u00edgitos v\u00e1lidos\n\n**SMTP (Opcional):**\n- Si smtp=true, los siguientes campos son obligatorios: smtp_host, smtp_port, smtp_user, smtp_password, smtp_from_email\n- smtp_encryption puede ser: \"tls\", \"ssl\" o null\n- smtp_from_name es opcional incluso si smtp=true","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/EmpresaCreate"},"examples":{"empresa_basica":{"summary":"Empresa b\u00e1sica","description":"Ejemplo b\u00e1sico de creaci\u00f3n de empresa con solo campos obligatorios","value":{"ruc":"1234567890001","razon_social":"Empresa Demo S.A."}},"empresa_completa":{"summary":"Empresa completa con SMTP","description":"Ejemplo completo con campos de impuestos y configuraci\u00f3n SMTP","value":{"ruc":"1234567890001","razon_social":"Empresa Demo S.A.","ncontribuyenteespecial":"12345","grancontribuyente":true,"agenteretencion":true,"numero_resolucion":"NAC-DGERCGC20-00000001","contabilidad":true,"regimen_rimpe":true,"smtp":true,"smtp_host":"smtp.gmail.com","smtp_port":587,"smtp_user":"noreply@empresa.com","smtp_password":"password123","smtp_encryption":"tls","smtp_from_email":"noreply@empresa.com","smtp_from_name":"Empresa Demo S.A."}}}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https:\/\/www.invoka.com.ec\/api\/empresa\/crear\" \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"X-API-KEY: tu-api-key-aqui\" \\\n  -d '{\n    \"ruc\": \"1234567890001\",\n    \"razon_social\": \"Empresa Demo S.A.\",\n    \"grancontribuyente\": true,\n    \"smtp\": true,\n    \"smtp_host\": \"smtp.gmail.com\",\n    \"smtp_port\": 587,\n    \"smtp_user\": \"noreply@empresa.com\",\n    \"smtp_password\": \"password123\",\n    \"smtp_encryption\": \"tls\",\n    \"smtp_from_email\": \"noreply@empresa.com\"\n  }'"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch(\"https:\/\/www.invoka.com.ec\/api\/empresa\/crear\", {\n  method: \"POST\",\n  headers: {\n    \"Content-Type\": \"application\/json\",\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n  },\n  body: JSON.stringify({\n    ruc: \"1234567890001\",\n    razon_social: \"Empresa Demo S.A.\",\n    grancontribuyente: true,\n    smtp: true,\n    smtp_host: \"smtp.gmail.com\",\n    smtp_port: 587,\n    smtp_user: \"noreply@empresa.com\",\n    smtp_password: \"password123\",\n    smtp_encryption: \"tls\",\n    smtp_from_email: \"noreply@empresa.com\"\n  })\n})\n.then(response => response.json())\n.then(data => console.log(data))\n.catch(error => console.error(\"Error:\", error));"},{"lang":"php","label":"PHP (cURL)","source":"<?php\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https:\/\/www.invoka.com.ec\/api\/empresa\/crear\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => json_encode([\n    \"ruc\" => \"1234567890001\",\n    \"razon_social\" => \"Empresa Demo S.A.\",\n    \"grancontribuyente\" => true,\n    \"smtp\" => true,\n    \"smtp_host\" => \"smtp.gmail.com\",\n    \"smtp_port\" => 587,\n    \"smtp_user\" => \"noreply@empresa.com\",\n    \"smtp_password\" => \"password123\",\n    \"smtp_encryption\" => \"tls\",\n    \"smtp_from_email\" => \"noreply@empresa.com\"\n  ]),\n  CURLOPT_HTTPHEADER => [\n    \"Content-Type: application\/json\",\n    \"X-API-KEY: tu-api-key-aqui\"\n  ],\n]);\n\n$response = curl_exec($curl);\ncurl_close($curl);\n\n$data = json_decode($response, true);\nvar_dump($data);\n?>"},{"lang":"python","label":"Python (requests)","source":"import requests\nimport json\n\nurl = \"https:\/\/www.invoka.com.ec\/api\/empresa\/crear\"\nheaders = {\n    \"Content-Type\": \"application\/json\",\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n}\n\npayload = {\n    \"ruc\": \"1234567890001\",\n    \"razon_social\": \"Empresa Demo S.A.\",\n    \"grancontribuyente\": True,\n    \"smtp\": True,\n    \"smtp_host\": \"smtp.gmail.com\",\n    \"smtp_port\": 587,\n    \"smtp_user\": \"noreply@empresa.com\",\n    \"smtp_password\": \"password123\",\n    \"smtp_encryption\": \"tls\",\n    \"smtp_from_email\": \"noreply@empresa.com\"\n}\n\nresponse = requests.post(url, headers=headers, json=payload)\nprint(response.json())"}],"responses":{"200":{"description":"Empresa creada exitosamente","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/EmpresaResponse"}}}},"400":{"description":"Error de validaci\u00f3n","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}},"401":{"description":"API Key inv\u00e1lida","content":{"application\/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false},"message":{"type":"string","example":"API Key inv\u00e1lida"}}}}}}}}},"\/api\/empresa\/editar":{"put":{"tags":["Empresas"],"summary":"Editar empresa existente","description":"Actualizar datos de una empresa existente con campos de impuestos y SMTP opcionales. Se requiere RUC para identificar la empresa.\n\n**Aplican las mismas reglas de negocio que en crear empresa.**","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/EmpresaCreate"}}}},"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl -X PUT \"https:\/\/www.invoka.com.ec\/api\/empresa\/editar\" \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"X-API-KEY: tu-api-key-aqui\" \\\n  -d '{\n    \"ruc\": \"1234567890001\",\n    \"razon_social\": \"Empresa Demo S.A. (Actualizada)\",\n    \"smtp\": false\n  }'"},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch(\"https:\/\/www.invoka.com.ec\/api\/empresa\/editar\", {\n  method: \"PUT\",\n  headers: {\n    \"Content-Type\": \"application\/json\",\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n  },\n  body: JSON.stringify({\n    ruc: \"1234567890001\",\n    razon_social: \"Empresa Demo S.A. (Actualizada)\",\n    smtp: false\n  })\n})\n.then(response => response.json())\n.then(data => console.log(data));"},{"lang":"php","label":"PHP (cURL)","source":"<?php\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https:\/\/www.invoka.com.ec\/api\/empresa\/editar\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_CUSTOMREQUEST => \"PUT\",\n  CURLOPT_POSTFIELDS => json_encode([\n    \"ruc\" => \"1234567890001\",\n    \"razon_social\" => \"Empresa Demo S.A. (Actualizada)\",\n    \"smtp\" => false\n  ]),\n  CURLOPT_HTTPHEADER => [\n    \"Content-Type: application\/json\",\n    \"X-API-KEY: tu-api-key-aqui\"\n  ],\n]);\n\n$response = curl_exec($curl);\ncurl_close($curl);\n\n$data = json_decode($response, true);\nvar_dump($data);\n?>"},{"lang":"python","label":"Python (requests)","source":"import requests\nimport json\n\nurl = \"https:\/\/www.invoka.com.ec\/api\/empresa\/editar\"\nheaders = {\n    \"Content-Type\": \"application\/json\",\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n}\n\npayload = {\n    \"ruc\": \"1234567890001\",\n    \"razon_social\": \"Empresa Demo S.A. (Actualizada)\",\n    \"smtp\": False\n}\n\nresponse = requests.put(url, headers=headers, json=payload)\nprint(response.json())"}],"responses":{"200":{"description":"Empresa actualizada exitosamente","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/EmpresaResponse"}}}},"400":{"description":"Error de validaci\u00f3n","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}},"404":{"description":"Empresa no encontrada"}}}},"\/api\/empresa\/subirfirma":{"post":{"tags":["Empresas"],"summary":"Subir firma electr\u00f3nica","description":"Subir archivo de firma electr\u00f3nica (.p12) para una empresa. La firma se utiliza para firmar documentos electr\u00f3nicos.\n\n**M\u00c9TODOS DE ENV\u00cdO SOPORTADOS:**\n\n1. **Archivo multipart\/form-data** - Enviar como archivo adjunto\n2. **Base64 JSON** - Enviar el contenido codificado en base64\n\n**IMPORTANTE:** Solo se puede usar uno de los dos m\u00e9todos por request.","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"multipart\/form-data":{"schema":{"type":"object","required":["ruc","firma_file","password"],"properties":{"ruc":{"type":"string","example":"1234567890001","description":"RUC de la empresa"},"firma_file":{"type":"string","format":"binary","description":"Archivo de firma electr\u00f3nica (.p12) - M\u00e1ximo 10MB"},"password":{"type":"string","example":"password123","description":"Contrase\u00f1a de la firma electr\u00f3nica"}}}},"application\/json":{"schema":{"type":"object","required":["ruc","firma_base64","password"],"properties":{"ruc":{"type":"string","example":"1234567890001","description":"RUC de la empresa"},"firma_base64":{"type":"string","example":"MIIKmQIBAzCCCl8GCSqGSIb3DQEHAaCCClAEggpMMIIKSDCCBH8GCSqGSIb...","description":"Contenido del archivo .p12 codificado en base64"},"password":{"type":"string","example":"password123","description":"Contrase\u00f1a de la firma electr\u00f3nica"}}}}}},"x-code-samples":[{"lang":"curl","label":"cURL (Archivo)","source":"curl -X POST \"https:\/\/www.invoka.com.ec\/api\/empresa\/subirfirma\" \\\n  -H \"X-API-KEY: tu-api-key-aqui\" \\\n  -F \"ruc=1234567890001\" \\\n  -F \"password=password123\" \\\n  -F \"firma_file=@\/ruta\/a\/tu\/firma.p12\""},{"lang":"curl","label":"cURL (Base64)","source":"curl -X POST \"https:\/\/www.invoka.com.ec\/api\/empresa\/subirfirma\" \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"X-API-KEY: tu-api-key-aqui\" \\\n  -d '{\n    \"ruc\": \"1234567890001\",\n    \"password\": \"password123\",\n    \"firma_base64\": \"MIIKmQIBAzCCCl8GCSqGSIb3DQEHAaCCClAEggpMMIIKSDCCBH8GCSqGSIb...\"\n  }'"},{"lang":"javascript","label":"JavaScript (Archivo)","source":"const formData = new FormData();\nformData.append(\"ruc\", \"1234567890001\");\nformData.append(\"password\", \"password123\");\nformData.append(\"firma_file\", fileInput.files[0]); \/\/ input file element\n\nfetch(\"https:\/\/www.invoka.com.ec\/api\/empresa\/subirfirma\", {\n  method: \"POST\",\n  headers: {\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n  },\n  body: formData\n})\n.then(response => response.json())\n.then(data => console.log(data));"},{"lang":"javascript","label":"JavaScript (Base64)","source":"\/\/ Convertir archivo a base64\nconst file = fileInput.files[0];\nconst reader = new FileReader();\nreader.onload = function() {\n  const base64 = reader.result.split(\",\")[1]; \/\/ remover \"data:application\/x-pkcs12;base64,\"\n  \n  fetch(\"https:\/\/www.invoka.com.ec\/api\/empresa\/subirfirma\", {\n    method: \"POST\",\n    headers: {\n      \"Content-Type\": \"application\/json\",\n      \"X-API-KEY\": \"tu-api-key-aqui\"\n    },\n    body: JSON.stringify({\n      ruc: \"1234567890001\",\n      password: \"password123\",\n      firma_base64: base64\n    })\n  })\n  .then(response => response.json())\n  .then(data => console.log(data));\n};\nreader.readAsDataURL(file);"},{"lang":"php","label":"PHP (Archivo)","source":"<?php\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https:\/\/www.invoka.com.ec\/api\/empresa\/subirfirma\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_POST => true,\n  CURLOPT_POSTFIELDS => [\n    \"ruc\" => \"1234567890001\",\n    \"password\" => \"password123\",\n    \"firma_file\" => curl_file_create(\"\/ruta\/a\/tu\/firma.p12\", \"application\/x-pkcs12\", \"firma.p12\")\n  ],\n  CURLOPT_HTTPHEADER => [\n    \"X-API-KEY: tu-api-key-aqui\"\n  ],\n]);\n\n$response = curl_exec($curl);\ncurl_close($curl);\n\n$data = json_decode($response, true);\nvar_dump($data);\n?>"},{"lang":"php","label":"PHP (Base64)","source":"<?php\n\/\/ Leer archivo y convertir a base64\n$firmaContent = file_get_contents(\"\/ruta\/a\/tu\/firma.p12\");\n$firmaBase64 = base64_encode($firmaContent);\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https:\/\/www.invoka.com.ec\/api\/empresa\/subirfirma\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_POST => true,\n  CURLOPT_POSTFIELDS => json_encode([\n    \"ruc\" => \"1234567890001\",\n    \"password\" => \"password123\",\n    \"firma_base64\" => $firmaBase64\n  ]),\n  CURLOPT_HTTPHEADER => [\n    \"Content-Type: application\/json\",\n    \"X-API-KEY: tu-api-key-aqui\"\n  ],\n]);\n\n$response = curl_exec($curl);\ncurl_close($curl);\n\n$data = json_decode($response, true);\nvar_dump($data);\n?>"},{"lang":"python","label":"Python (Archivo)","source":"import requests\n\nurl = \"https:\/\/www.invoka.com.ec\/api\/empresa\/subirfirma\"\nheaders = {\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n}\n\nfiles = {\n    \"firma_file\": (\"firma.p12\", open(\"\/ruta\/a\/tu\/firma.p12\", \"rb\"), \"application\/x-pkcs12\")\n}\n\ndata = {\n    \"ruc\": \"1234567890001\",\n    \"password\": \"password123\"\n}\n\nresponse = requests.post(url, headers=headers, files=files, data=data)\nprint(response.json())"},{"lang":"python","label":"Python (Base64)","source":"import requests\nimport base64\n\n# Leer archivo y convertir a base64\nwith open(\"\/ruta\/a\/tu\/firma.p12\", \"rb\") as file:\n    firma_base64 = base64.b64encode(file.read()).decode(\"utf-8\")\n\nurl = \"https:\/\/www.invoka.com.ec\/api\/empresa\/subirfirma\"\nheaders = {\n    \"Content-Type\": \"application\/json\",\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n}\n\npayload = {\n    \"ruc\": \"1234567890001\",\n    \"password\": \"password123\",\n    \"firma_base64\": firma_base64\n}\n\nresponse = requests.post(url, headers=headers, json=payload)\nprint(response.json())"}],"responses":{"200":{"description":"Firma subida exitosamente","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/EmpresaResponse"}}}},"400":{"description":"Error de validaci\u00f3n","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}},"404":{"description":"Empresa no encontrada"}}}},"\/api\/empresa\/subirlogo":{"post":{"tags":["Empresas"],"summary":"Subir logo de empresa","description":"Subir imagen de logo para una empresa. El logo se utiliza en documentos electr\u00f3nicos generados.\n\n**M\u00c9TODOS DE ENV\u00cdO SOPORTADOS:**\n\n1. **Archivo multipart\/form-data** - Enviar como archivo adjunto\n2. **Base64 JSON** - Enviar el contenido codificado en base64\n\n**FORMATOS SOPORTADOS:** PNG, JPG, JPEG (m\u00e1ximo 2MB)\n\n**IMPORTANTE:** Solo se puede usar uno de los dos m\u00e9todos por request.","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"multipart\/form-data":{"schema":{"type":"object","required":["ruc","logo_file"],"properties":{"ruc":{"type":"string","example":"1234567890001","description":"RUC de la empresa"},"logo_file":{"type":"string","format":"binary","description":"Archivo de imagen (PNG, JPG, JPEG) - M\u00e1ximo 2MB"}}}},"application\/json":{"schema":{"type":"object","required":["ruc","logo_base64"],"properties":{"ruc":{"type":"string","example":"1234567890001","description":"RUC de la empresa"},"logo_base64":{"type":"string","example":"iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8\/5+hHgAHggJ\/PchI7wAAAABJRU5ErkJggg==","description":"Contenido de la imagen codificado en base64 (sin prefijo data:image\/...)"}}}}}},"x-code-samples":[{"lang":"curl","label":"cURL (Archivo)","source":"curl -X POST \"https:\/\/www.invoka.com.ec\/api\/empresa\/subirlogo\" \\\n  -H \"X-API-KEY: tu-api-key-aqui\" \\\n  -F \"ruc=1234567890001\" \\\n  -F \"logo_file=@\/ruta\/a\/tu\/logo.png\""},{"lang":"curl","label":"cURL (Base64)","source":"curl -X POST \"https:\/\/www.invoka.com.ec\/api\/empresa\/subirlogo\" \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"X-API-KEY: tu-api-key-aqui\" \\\n  -d '{\n    \"ruc\": \"1234567890001\",\n    \"logo_base64\": \"iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8\/5+hHgAHggJ\/PchI7wAAAABJRU5ErkJggg==\"\n  }'"},{"lang":"javascript","label":"JavaScript (Archivo)","source":"const formData = new FormData();\nformData.append(\"ruc\", \"1234567890001\");\nformData.append(\"logo_file\", fileInput.files[0]); \/\/ input file element\n\nfetch(\"https:\/\/www.invoka.com.ec\/api\/empresa\/subirlogo\", {\n  method: \"POST\",\n  headers: {\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n  },\n  body: formData\n})\n.then(response => response.json())\n.then(data => console.log(data));"},{"lang":"javascript","label":"JavaScript (Base64)","source":"\/\/ Convertir archivo a base64\nconst file = fileInput.files[0];\nconst reader = new FileReader();\nreader.onload = function() {\n  const base64 = reader.result.split(\",\")[1]; \/\/ remover \"data:image\/...;base64,\"\n  \n  fetch(\"https:\/\/www.invoka.com.ec\/api\/empresa\/subirlogo\", {\n    method: \"POST\",\n    headers: {\n      \"Content-Type\": \"application\/json\",\n      \"X-API-KEY\": \"tu-api-key-aqui\"\n    },\n    body: JSON.stringify({\n      ruc: \"1234567890001\",\n      logo_base64: base64\n    })\n  })\n  .then(response => response.json())\n  .then(data => console.log(data));\n};\nreader.readAsDataURL(file);"},{"lang":"php","label":"PHP (Archivo)","source":"<?php\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https:\/\/www.invoka.com.ec\/api\/empresa\/subirlogo\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_POST => true,\n  CURLOPT_POSTFIELDS => [\n    \"ruc\" => \"1234567890001\",\n    \"logo_file\" => curl_file_create(\"\/ruta\/a\/tu\/logo.png\", \"image\/png\", \"logo.png\")\n  ],\n  CURLOPT_HTTPHEADER => [\n    \"X-API-KEY: tu-api-key-aqui\"\n  ],\n]);\n\n$response = curl_exec($curl);\ncurl_close($curl);\n\n$data = json_decode($response, true);\nvar_dump($data);\n?>"},{"lang":"php","label":"PHP (Base64)","source":"<?php\n\/\/ Leer imagen y convertir a base64\n$logoContent = file_get_contents(\"\/ruta\/a\/tu\/logo.png\");\n$logoBase64 = base64_encode($logoContent);\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https:\/\/www.invoka.com.ec\/api\/empresa\/subirlogo\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_POST => true,\n  CURLOPT_POSTFIELDS => json_encode([\n    \"ruc\" => \"1234567890001\",\n    \"logo_base64\" => $logoBase64\n  ]),\n  CURLOPT_HTTPHEADER => [\n    \"Content-Type: application\/json\",\n    \"X-API-KEY: tu-api-key-aqui\"\n  ],\n]);\n\n$response = curl_exec($curl);\ncurl_close($curl);\n\n$data = json_decode($response, true);\nvar_dump($data);\n?>"},{"lang":"python","label":"Python (Archivo)","source":"import requests\n\nurl = \"https:\/\/www.invoka.com.ec\/api\/empresa\/subirlogo\"\nheaders = {\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n}\n\nfiles = {\n    \"logo_file\": (\"logo.png\", open(\"\/ruta\/a\/tu\/logo.png\", \"rb\"), \"image\/png\")\n}\n\ndata = {\n    \"ruc\": \"1234567890001\"\n}\n\nresponse = requests.post(url, headers=headers, files=files, data=data)\nprint(response.json())"},{"lang":"python","label":"Python (Base64)","source":"import requests\nimport base64\n\n# Leer imagen y convertir a base64\nwith open(\"\/ruta\/a\/tu\/logo.png\", \"rb\") as file:\n    logo_base64 = base64.b64encode(file.read()).decode(\"utf-8\")\n\nurl = \"https:\/\/www.invoka.com.ec\/api\/empresa\/subirlogo\"\nheaders = {\n    \"Content-Type\": \"application\/json\",\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n}\n\npayload = {\n    \"ruc\": \"1234567890001\",\n    \"logo_base64\": logo_base64\n}\n\nresponse = requests.post(url, headers=headers, json=payload)\nprint(response.json())"}],"responses":{"200":{"description":"Logo subido exitosamente","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/EmpresaResponse"}}}},"400":{"description":"Error de validaci\u00f3n","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ErrorResponse"}}}},"404":{"description":"Empresa no encontrada"}}}},"\/api\/ping":{"post":{"tags":["Autenticaci\u00f3n"],"summary":"Verificar conectividad","description":"Endpoint para verificar que la API est\u00e1 funcionando y que el API Key es v\u00e1lido.","security":[{"ApiKeyAuth":[]}],"x-code-samples":[{"lang":"curl","label":"cURL","source":"curl -X POST \"https:\/\/www.invoka.com.ec\/api\/ping\" \\\n  -H \"X-API-KEY: tu-api-key-aqui\""},{"lang":"javascript","label":"JavaScript (fetch)","source":"fetch(\"https:\/\/www.invoka.com.ec\/api\/ping\", {\n  method: \"POST\",\n  headers: {\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n  }\n})\n.then(response => response.json())\n.then(data => console.log(data));"},{"lang":"php","label":"PHP (cURL)","source":"<?php\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https:\/\/www.invoka.com.ec\/api\/ping\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_POST => true,\n  CURLOPT_HTTPHEADER => [\n    \"X-API-KEY: tu-api-key-aqui\"\n  ],\n]);\n\n$response = curl_exec($curl);\ncurl_close($curl);\n\n$data = json_decode($response, true);\nvar_dump($data);\n?>"},{"lang":"python","label":"Python (requests)","source":"import requests\n\nurl = \"https:\/\/www.invoka.com.ec\/api\/ping\"\nheaders = {\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n}\n\nresponse = requests.post(url, headers=headers)\nprint(response.json())"}],"responses":{"200":{"description":"Conectividad exitosa","content":{"application\/json":{"schema":{"type":"object","properties":{"pong":{"type":"boolean","example":true}}}}}},"401":{"description":"API Key inv\u00e1lida"}}}},"\/api\/factura\/emision":{"post":{"tags":["Facturas"],"summary":"Emitir factura electr\u00f3nica","description":"Crea y procesa una factura electr\u00f3nica (C\u00f3digo 01) seg\u00fan normativa SRI Ecuador.\n\n**IMPORTANTE:**\n- **Ambiente 1 (Pruebas)**: GRATIS e ilimitado - Para desarrollo y testing\n- **Ambiente 2 (Producci\u00f3n)**: Usa 1 cr\u00e9dito por factura autorizada\n- Los cr\u00e9ditos solo se descuentan cuando el SRI autoriza el comprobante\n- La factura debe cumplir con todas las validaciones del SRI Ecuador\n- **Formato de fecha**: YYYY\/MM\/DD (con barras, ejemplo: 2025\/07\/30)\n\n**ESTRUCTURA DE DATOS:**\n- **Emisor**: Datos de la empresa que emite (incluye secuencial y fecha de emisi\u00f3n)\n- **Comprador**: Datos del comprador\/cliente\n- **Items**: Array de productos\/servicios con sus impuestos\n- **Totales**: Se calculan autom\u00e1ticamente basados en items (opcional)\n- **Pagos**: Formas de pago utilizadas (opcional)\n- **Informaci\u00f3n adicional**: Campos personalizados (opcional)","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["emisor","ambiente","comprador","items"],"properties":{"emisor":{"type":"object","description":"Informaci\u00f3n del emisor\/empresa","required":["nombre_comercial","ruc","codigo_establecimiento","codigo_puntoemision","direccion_matriz","direccion_establecimiento","obligado_contabilidad","fecha_emision"],"properties":{"nombre_comercial":{"type":"string","maxLength":300,"example":"EMPRESA PRUEBA","description":"Nombre comercial del emisor"},"razon_social":{"type":"string","maxLength":300,"example":"MI EMPRESA SOCIEDAD ANONIMA","description":"Raz\u00f3n social del emisor (opcional)"},"ruc":{"type":"string","maxLength":13,"example":"0951072677001","description":"RUC del emisor (13 d\u00edgitos)"},"codigo_establecimiento":{"type":"string","maxLength":3,"example":"003","description":"C\u00f3digo de establecimiento (3 d\u00edgitos)"},"codigo_puntoemision":{"type":"string","maxLength":3,"example":"003","description":"C\u00f3digo de punto de emisi\u00f3n (3 d\u00edgitos)"},"direccion_matriz":{"type":"string","maxLength":300,"example":"QUITO - ECUADOR","description":"Direcci\u00f3n de la matriz"},"direccion_establecimiento":{"type":"string","maxLength":300,"example":"QUITO - ECUADOR","description":"Direcci\u00f3n del establecimiento"},"obligado_contabilidad":{"type":"string","enum":["SI","NO"],"example":"SI","description":"Obligado a llevar contabilidad (SI\/NO)"},"contribuyente_especial":{"type":"string","maxLength":50,"example":"5368","description":"N\u00famero de contribuyente especial (opcional)"},"calificacion_artesanal":{"type":"string","maxLength":50,"example":"","description":"Calificaci\u00f3n artesanal (opcional)"},"exportador_habitual":{"type":"boolean","example":false,"description":"Exportador habitual (opcional)"},"gran_contribuyente":{"type":"boolean","example":false,"description":"Gran contribuyente (opcional)"},"agente_retencion":{"type":"boolean","example":false,"description":"Agente de retenci\u00f3n (opcional)"},"contabilidad":{"type":"boolean","example":false,"description":"Contabilidad (opcional)"},"regimen_rimpe":{"type":"boolean","example":false,"description":"R\u00e9gimen RIMPE (opcional)"},"regimen_rimpe_popular":{"type":"boolean","example":false,"description":"R\u00e9gimen RIMPE Popular (opcional)"},"numero_resolucion":{"type":"string","maxLength":100,"example":"","description":"N\u00famero de resoluci\u00f3n (opcional)"},"secuencial":{"type":"string","maxLength":9,"example":"000002001","description":"N\u00famero secuencial del comprobante (opcional - se puede autogenerar)"},"fecha_emision":{"type":"string","example":"2025\/07\/30","description":"Fecha de emisi\u00f3n en formato YYYY\/MM\/DD (con barras)"}}},"ambiente":{"type":"integer","enum":[1,2],"example":1,"description":"Ambiente: 1=Pruebas (GRATIS), 2=Producci\u00f3n (usa cr\u00e9ditos)"},"tipo_emision":{"type":"integer","enum":[1,2],"example":1,"description":"Tipo de emisi\u00f3n: 1=Normal, 2=Contingencia (opcional, por defecto es 1)"},"comprador":{"type":"object","description":"Informaci\u00f3n del comprador\/cliente","required":["identificacion","tipo_identificacion","razon_social","direccion"],"properties":{"identificacion":{"type":"string","maxLength":20,"example":"9999999999999","description":"Identificaci\u00f3n del comprador"},"tipo_identificacion":{"type":"string","maxLength":2,"example":"07","description":"Tipo de identificaci\u00f3n del comprador (04=RUC, 05=C\u00e9dula, 06=Pasaporte, 07=Consumidor Final, etc.)"},"razon_social":{"type":"string","maxLength":300,"example":"CONSUMIDOR FINAL","description":"Raz\u00f3n social del comprador"},"direccion":{"type":"string","maxLength":300,"example":"QUITO","description":"Direcci\u00f3n del comprador"},"telefono":{"type":"string","maxLength":300,"example":"0987654321","description":"Tel\u00e9fono del comprador (opcional)"},"celular":{"type":"string","maxLength":300,"example":"0987654321","description":"Celular del comprador (opcional)"},"correo":{"type":"string","maxLength":300,"example":"cliente@ejemplo.com","description":"Email del comprador (opcional)"}}},"items":{"type":"array","description":"Detalle de productos\/servicios de la factura","minItems":1,"items":{"type":"object","required":["descripcion","precio_unitario","tipoproducto","cantidad","tipo_iva"],"properties":{"codigo_principal":{"type":"string","maxLength":25,"example":"PROD001","description":"C\u00f3digo principal del producto (opcional)"},"codigo_auxiliar":{"type":"string","maxLength":25,"example":"","description":"C\u00f3digo auxiliar (opcional)"},"descripcion":{"type":"string","maxLength":300,"example":"Producto de prueba","description":"Descripci\u00f3n del producto\/servicio"},"cantidad":{"type":"number","format":"float","example":1,"description":"Cantidad del producto"},"precio_unitario":{"type":"number","format":"float","example":10,"description":"Precio unitario sin impuestos"},"descuento":{"type":"number","format":"float","example":0,"description":"Descuento aplicado (opcional)"},"precio_total_sin_impuesto":{"type":"number","format":"float","example":10,"description":"Precio total sin impuesto (opcional - se calcula autom\u00e1ticamente)"},"tipoproducto":{"type":"integer","example":1,"description":"Tipo de producto (requerido)"},"tipo_iva":{"type":"integer","example":2,"description":"Tipo de IVA aplicado (0=Sin IVA, 2=IVA 12%, 3=IVA 14%, etc.)"},"tipo_ice":{"type":"integer","example":0,"description":"Tipo de ICE aplicado (opcional)"},"tipo_irbpnr":{"type":"integer","example":0,"description":"Tipo de IRBPNR aplicado (opcional)"},"subsidio":{"type":"number","format":"float","example":0,"description":"Subsidio aplicado (opcional)"},"unidad_medida":{"type":"integer","example":1,"description":"Unidad de medida (opcional)"},"detalles_adicionales":{"type":"array","description":"Detalles adicionales del producto (opcional)","items":{"type":"object","properties":{"nombre":{"type":"string","maxLength":300,"example":"Detalle","description":"Nombre del detalle adicional"},"detalle":{"type":"string","maxLength":300,"example":"Informaci\u00f3n adicional","description":"Valor del detalle adicional"}}}}}}},"totales":{"type":"array","description":"Totales de impuestos (opcional - se calcula autom\u00e1ticamente si no se env\u00eda)","items":{"type":"object","properties":{"codigo":{"type":"string","example":"2","description":"C\u00f3digo del impuesto (2=IVA, 3=ICE)"},"codigo_porcentaje":{"type":"string","example":"2","description":"C\u00f3digo del porcentaje"},"descuento_adicional":{"type":"number","format":"float","example":0,"description":"Descuento adicional"},"base_imponible":{"type":"number","format":"float","example":10,"description":"Base imponible"},"tarifa":{"type":"number","format":"float","example":12,"description":"Tarifa del impuesto"},"valor":{"type":"number","format":"float","example":1.2,"description":"Valor del impuesto"}}}},"pagos":{"type":"array","description":"Formas de pago (opcional)","items":{"type":"object","properties":{"tipo":{"type":"integer","example":20,"description":"Tipo de pago (20=Otros con utilizaci\u00f3n del sistema financiero)"},"total":{"type":"number","format":"float","example":11.2,"description":"Total del pago"},"tiempo":{"type":"string","example":"","description":"Tiempo de pago (opcional)"},"plazo":{"type":"integer","example":0,"description":"Plazo de pago (opcional)"}}}},"informacion_adicional":{"type":"array","description":"Informaci\u00f3n adicional (opcional)","items":{"type":"object","properties":{"nombre":{"type":"string","maxLength":300,"example":"Campo Adicional","description":"Nombre del campo adicional"},"detalle":{"type":"string","maxLength":300,"example":"Valor del campo","description":"Valor del campo adicional"}}}},"codigoDoc":{"type":"string","maxLength":300,"example":"01","description":"C\u00f3digo del documento (opcional)"},"guiaremision":{"type":"string","example":"","description":"Gu\u00eda de remisi\u00f3n (opcional)"},"placa":{"type":"string","example":"","description":"Placa del veh\u00edculo (opcional)"}}},"examples":{"factura_basica":{"summary":"Factura b\u00e1sica con IVA","description":"Ejemplo de factura simple con un producto gravado con IVA 12%","value":{"emisor":{"nombre_comercial":"EMPRESA PRUEBA","razon_social":"MI EMPRESA SOCIEDAD ANONIMA","ruc":"0951072677001","codigo_establecimiento":"003","codigo_puntoemision":"003","direccion_matriz":"QUITO - ECUADOR","direccion_establecimiento":"QUITO - ECUADOR","obligado_contabilidad":"SI","secuencial":"000002001","fecha_emision":"2025\/07\/30"},"ambiente":1,"comprador":{"identificacion":"9999999999999","tipo_identificacion":"07","razon_social":"CONSUMIDOR FINAL","direccion":"QUITO","correo":"cliente@ejemplo.com"},"items":[{"codigo_principal":"PROD001","descripcion":"Producto de prueba","cantidad":1,"precio_unitario":10,"descuento":0,"precio_total_sin_impuesto":10,"tipoproducto":1,"tipo_iva":2}]}},"factura_multiple_productos":{"summary":"Factura con m\u00faltiples productos","description":"Ejemplo de factura con varios productos y diferentes impuestos","value":{"emisor":{"nombre_comercial":"TechAdvanced","razon_social":"TECNOLOGIA AVANZADA SA","ruc":"0912345678001","codigo_establecimiento":"001","codigo_puntoemision":"002","direccion_matriz":"Av. Tecnol\u00f3gica 789, Quito, Ecuador","direccion_establecimiento":"Mall del Sur Local 45, Quito, Ecuador","obligado_contabilidad":"SI","contribuyente_especial":"5368","secuencial":"000000125","fecha_emision":"2025\/07\/25"},"ambiente":2,"comprador":{"identificacion":"0987654321001","tipo_identificacion":"04","razon_social":"EMPRESA COMPRADORA CIA LTDA","direccion":"Av. Comercial 321, Guayaquil, Ecuador","correo":"facturacion@compradora.com","telefono":"042-123456"},"items":[{"codigo_principal":"COMP001","codigo_auxiliar":"CPU-I7","descripcion":"Computadora Desktop Intel Core i7","cantidad":2,"precio_unitario":800,"descuento":50,"precio_total_sin_impuesto":1550,"tipoproducto":1,"tipo_iva":2},{"codigo_principal":"SOFT001","descripcion":"Licencia de software empresarial","cantidad":1,"precio_unitario":200,"descuento":0,"precio_total_sin_impuesto":200,"tipoproducto":1,"tipo_iva":0}]}}}}}},"x-code-samples":[{"lang":"curl","label":"cURL (Factura b\u00e1sica)","source":"curl -X POST \"https:\/\/www.invoka.com.ec\/api\/factura\/emision\" \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"X-API-KEY: tu-api-key-aqui\" \\\n  -d '{\n    \"emisor\": {\n      \"nombre_comercial\": \"EMPRESA PRUEBA\",\n      \"razon_social\": \"MI EMPRESA SOCIEDAD ANONIMA\",\n      \"ruc\": \"0951072677001\",\n      \"codigo_establecimiento\": \"003\",\n      \"codigo_puntoemision\": \"003\",\n      \"direccion_matriz\": \"QUITO - ECUADOR\",\n      \"direccion_establecimiento\": \"QUITO - ECUADOR\",\n      \"obligado_contabilidad\": \"SI\",\n      \"secuencial\": \"000002001\",\n      \"fecha_emision\": \"2025\/07\/30\"\n    },\n    \"ambiente\": 1,\n    \"comprador\": {\n      \"identificacion\": \"9999999999999\",\n      \"tipo_identificacion\": \"07\",\n      \"razon_social\": \"CONSUMIDOR FINAL\",\n      \"direccion\": \"QUITO\",\n      \"correo\": \"cliente@ejemplo.com\"\n    },\n    \"items\": [\n      {\n        \"codigo_principal\": \"PROD001\",\n        \"descripcion\": \"Producto de prueba\",\n        \"cantidad\": 1.00,\n        \"precio_unitario\": 10.00,\n        \"descuento\": 0.00,\n        \"precio_total_sin_impuesto\": 10.00,\n        \"tipoproducto\": 1,\n        \"tipo_iva\": 2\n      }\n    ]\n  }'"},{"lang":"javascript","label":"JavaScript (fetch)","source":"const facturaData = {\n  emisor: {\n    nombre_comercial: \"EMPRESA PRUEBA\",\n    razon_social: \"MI EMPRESA SOCIEDAD ANONIMA\",\n    ruc: \"0951072677001\",\n    codigo_establecimiento: \"003\",\n    codigo_puntoemision: \"003\",\n    direccion_matriz: \"QUITO - ECUADOR\",\n    direccion_establecimiento: \"QUITO - ECUADOR\",\n    obligado_contabilidad: \"SI\",\n    secuencial: \"000002001\",\n    fecha_emision: \"2025\/07\/30\"\n  },\n  ambiente: 1, \/\/ 1=Pruebas (gratis), 2=Producci\u00f3n (usa cr\u00e9ditos)\n  comprador: {\n    identificacion: \"9999999999999\",\n    tipo_identificacion: \"07\",\n    razon_social: \"CONSUMIDOR FINAL\",\n    direccion: \"QUITO\",\n    correo: \"cliente@ejemplo.com\"\n  },\n  items: [\n    {\n      codigo_principal: \"PROD001\",\n      descripcion: \"Producto de prueba\",\n      cantidad: 1.00,\n      precio_unitario: 10.00,\n      descuento: 0.00,\n      precio_total_sin_impuesto: 10.00,\n      tipoproducto: 1,\n      tipo_iva: 2\n    }\n  ]\n};\n\nfetch(\"https:\/\/www.invoka.com.ec\/api\/factura\/emision\", {\n  method: \"POST\",\n  headers: {\n    \"Content-Type\": \"application\/json\",\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n  },\n  body: JSON.stringify(facturaData)\n})\n.then(response => response.json())\n.then(data => {\n  if (data.creado) {\n    console.log(\"Factura creada:\", data.claveacceso);\n    console.log(\"ID Comprobante:\", data.id_comprobante);\n    console.log(\"Estado:\", data.estado);\n  } else {\n    console.error(\"Error:\", data.errors);\n  }\n})\n.catch(error => console.error(\"Error:\", error));"},{"lang":"php","label":"PHP (cURL)","source":"<?php\n$facturaData = [\n    \"emisor\" => [\n        \"nombre_comercial\" => \"EMPRESA PRUEBA\",\n        \"razon_social\" => \"MI EMPRESA SOCIEDAD ANONIMA\",\n        \"ruc\" => \"0951072677001\",\n        \"codigo_establecimiento\" => \"003\",\n        \"codigo_puntoemision\" => \"003\",\n        \"direccion_matriz\" => \"QUITO - ECUADOR\",\n        \"direccion_establecimiento\" => \"QUITO - ECUADOR\",\n        \"obligado_contabilidad\" => \"SI\",\n        \"secuencial\" => \"000002001\",\n        \"fecha_emision\" => \"2025\/07\/30\"\n    ],\n    \"ambiente\" => 1, \/\/ 1=Pruebas (gratis), 2=Producci\u00f3n (usa cr\u00e9ditos)\n    \"comprador\" => [\n        \"identificacion\" => \"9999999999999\",\n        \"tipo_identificacion\" => \"07\",\n        \"razon_social\" => \"CONSUMIDOR FINAL\",\n        \"direccion\" => \"QUITO\",\n        \"correo\" => \"cliente@ejemplo.com\"\n    ],\n    \"items\" => [\n        [\n            \"codigo_principal\" => \"PROD001\",\n            \"descripcion\" => \"Producto de prueba\",\n            \"cantidad\" => 1.00,\n            \"precio_unitario\" => 10.00,\n            \"descuento\" => 0.00,\n            \"precio_total_sin_impuesto\" => 10.00,\n            \"tipoproducto\" => 1,\n            \"tipo_iva\" => 2\n        ]\n    ]\n];\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n    CURLOPT_URL => \"https:\/\/www.invoka.com.ec\/api\/factura\/emision\",\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_POST => true,\n    CURLOPT_POSTFIELDS => json_encode($facturaData),\n    CURLOPT_HTTPHEADER => [\n        \"Content-Type: application\/json\",\n        \"X-API-KEY: tu-api-key-aqui\"\n    ],\n]);\n\n$response = curl_exec($curl);\n$httpCode = curl_getinfo($curl, CURLINFO_HTTP_CODE);\ncurl_close($curl);\n\n$data = json_decode($response, true);\n\nif ($httpCode == 200 && $data[\\\"creado\\\"]) {\n    echo \"Factura creada exitosamente:\\n\";\n    echo \"Clave de acceso: \" . $data[\\\"claveacceso\\\"] . \"\\n\";\n    echo \"ID Comprobante: \" . $data[\\\"id_comprobante\\\"] . \"\\n\";\n    echo \"Estado: \" . $data[\\\"estado\\\"] . \"\\n\";\n} else {\n    echo \"Error en la emisi\u00f3n:\\n\";\n    if (isset($data[\\\"errors\\\"])) {\n        print_r($data[\\\"errors\\\"]);\n    }\n}\n?>"},{"lang":"python","label":"Python (requests)","source":"import requests\nimport json\n\nfactura_data = {\n    \"emisor\": {\n        \"nombre_comercial\": \"EMPRESA PRUEBA\",\n        \"razon_social\": \"MI EMPRESA SOCIEDAD ANONIMA\",\n        \"ruc\": \"0951072677001\",\n        \"codigo_establecimiento\": \"003\",\n        \"codigo_puntoemision\": \"003\",\n        \"direccion_matriz\": \"QUITO - ECUADOR\",\n        \"direccion_establecimiento\": \"QUITO - ECUADOR\",\n        \"obligado_contabilidad\": \"SI\",\n        \"secuencial\": \"000002001\",\n        \"fecha_emision\": \"2025\/07\/30\"\n    },\n    \"ambiente\": 1,  # 1=Pruebas (gratis), 2=Producci\u00f3n (usa cr\u00e9ditos)\n    \"comprador\": {\n        \"identificacion\": \"9999999999999\",\n        \"tipo_identificacion\": \"07\",\n        \"razon_social\": \"CONSUMIDOR FINAL\",\n        \"direccion\": \"QUITO\",\n        \"correo\": \"cliente@ejemplo.com\"\n    },\n    \"items\": [\n        {\n            \"codigo_principal\": \"PROD001\",\n            \"descripcion\": \"Producto de prueba\",\n            \"cantidad\": 1.00,\n            \"precio_unitario\": 10.00,\n            \"descuento\": 0.00,\n            \"precio_total_sin_impuesto\": 10.00,\n            \"tipoproducto\": 1,\n            \"tipo_iva\": 2\n        }\n    ]\n}\n\nurl = \"https:\/\/www.invoka.com.ec\/api\/factura\/emision\"\nheaders = {\n    \"Content-Type\": \"application\/json\",\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n}\n\ntry:\n    response = requests.post(url, headers=headers, json=factura_data)\n    response.raise_for_status()\n\n    data = response.json()\n\n    if data.get(\"creado\"):\n        print(f\"Factura creada exitosamente:\")\n        print(f\"Clave de acceso: {data[\\\"claveacceso\\\"]}\")\n        print(f\"ID Comprobante: {data[\\\"id_comprobante\\\"]}\")\n        print(f\"Estado: {data[\\\"estado\\\"]}\")\n    else:\n        print(f\"Error en la emisi\u00f3n:\")\n        if \\\"errors\\\" in data:\n            print(\"Detalles del error:\")\n            print(json.dumps(data[\\\"errors\\\"], indent=2))\n\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error de conexi\u00f3n: {e}\")\nexcept json.JSONDecodeError as e:\n    print(f\"Error al decodificar respuesta: {e}\")"}],"responses":{"200":{"description":"Factura registrada exitosamente para procesamiento","content":{"application\/json":{"schema":{"type":"object","properties":{"creado":{"type":"boolean","example":true,"description":"Indica si la factura fue creada exitosamente"},"claveacceso":{"type":"string","example":"3007202501095107267700110020020000000001234567818","description":"Clave de acceso del comprobante generada"},"id_comprobante":{"type":"integer","example":123,"description":"ID interno del comprobante en la base de datos"},"estado":{"type":"string","example":"En procesamiento","description":"Estado actual del comprobante"},"mensaje":{"type":"string","example":"Factura registrada exitosamente. XML se generar\u00e1 de forma as\u00edncrona.","description":"Mensaje descriptivo del resultado"}}}}}},"400":{"description":"Error en los datos enviados","content":{"application\/json":{"schema":{"type":"object","properties":{"creado":{"type":"boolean","example":false},"errors":{"type":"array","description":"Lista de errores de validaci\u00f3n","items":{"type":"string"},"example":["El campo emisor.ruc es obligatorio.","El campo comprador.identificacion es obligatorio."]}}}}}},"401":{"description":"API Key inv\u00e1lida o no proporcionada","content":{"application\/json":{"schema":{"type":"object","properties":{"creado":{"type":"boolean","example":false},"errors":{"type":"array","items":{"type":"string"},"example":["API Key requerida en header X-API-KEY"]}}}}}},"409":{"description":"Clave de acceso duplicada","content":{"application\/json":{"schema":{"type":"object","properties":{"creado":{"type":"boolean","example":false},"claveacceso":{"type":"string","example":"3007202501095107267700110020020000000001234567818"},"errors":{"type":"array","items":{"type":"string"},"example":["Clave de Acceso ya existe para esta empresa"]}}}}}},"500":{"description":"Error interno del servidor","content":{"application\/json":{"schema":{"type":"object","properties":{"creado":{"type":"boolean","example":false},"claveacceso":{"type":"string","example":"3007202501095107267700110020020000000001234567818","description":"Clave de acceso generada"},"errors":{"type":"array","items":{"type":"string"},"example":["Error al registrar comprobante: Database connection failed"]}}}}}}}}},"\/api\/credito\/emision":{"post":{"tags":["Notas de Cr\u00e9dito"],"summary":"Emitir nota de cr\u00e9dito electr\u00f3nica","description":"Crea y procesa una nota de cr\u00e9dito electr\u00f3nica (C\u00f3digo 04) seg\u00fan normativa SRI Ecuador.\n\n**IMPORTANTE:**\n- **Ambiente 1 (Pruebas)**: GRATIS e ilimitado - Para desarrollo y testing\n- **Ambiente 2 (Producci\u00f3n)**: Usa 1 cr\u00e9dito por nota de cr\u00e9dito autorizada\n- Las notas de cr\u00e9dito se usan para anular o modificar facturas previamente emitidas\n- Debe incluir la informaci\u00f3n del documento que modifica\n- **Formato de fecha**: YYYY\/MM\/DD (con barras, ejemplo: 2024\/01\/15)\n\n**ESTRUCTURA DE DATOS:**\n- **Emisor**: Datos de la empresa que emite (incluye secuencial y fecha de emisi\u00f3n)\n- **Comprador**: Datos del cliente al que se le emite la nota de cr\u00e9dito\n- **Documento modificado**: Informaci\u00f3n del comprobante que se est\u00e1 modificando\n- **Items**: Array de productos\/servicios con sus impuestos\n- **Informaci\u00f3n adicional**: Campos personalizados (opcional)","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["emisor","ambiente","comprador","items","documento_modificado"],"properties":{"emisor":{"type":"object","description":"Informaci\u00f3n del emisor\/empresa","required":["ruc","secuencial","fecha_emision","nombre_comercial","codigo_establecimiento","codigo_puntoemision","direccion_matriz","direccion_establecimiento"],"properties":{"ruc":{"type":"string","maxLength":13,"example":"0912345678001","description":"RUC del emisor (13 d\u00edgitos)"},"secuencial":{"type":"string","maxLength":9,"example":"000000001","description":"N\u00famero secuencial de la nota de cr\u00e9dito (9 d\u00edgitos)"},"fecha_emision":{"type":"string","example":"2024\/01\/15","description":"Fecha de emisi\u00f3n en formato YYYY\/MM\/DD (con barras)"},"nombre_comercial":{"type":"string","maxLength":300,"example":"Mi Empresa Comercial","description":"Nombre comercial del emisor"},"razon_social":{"type":"string","maxLength":300,"example":"MI EMPRESA S.A.","description":"Raz\u00f3n social del emisor (opcional)"},"codigo_establecimiento":{"type":"string","maxLength":3,"example":"001","description":"C\u00f3digo de establecimiento (3 d\u00edgitos)"},"codigo_puntoemision":{"type":"string","maxLength":3,"example":"001","description":"C\u00f3digo de punto de emisi\u00f3n (3 d\u00edgitos)"},"direccion_matriz":{"type":"string","maxLength":300,"example":"Av. Principal 123","description":"Direcci\u00f3n de la matriz"},"direccion_establecimiento":{"type":"string","maxLength":300,"example":"Av. Sucursal 456","description":"Direcci\u00f3n del establecimiento"},"obligado_contabilidad":{"type":"string","enum":["SI","NO"],"example":"SI","description":"Obligado a llevar contabilidad (opcional)"},"contribuyente_especial":{"type":"string","maxLength":50,"example":"12345","description":"N\u00famero de contribuyente especial (opcional)"},"agente_retencion":{"type":"boolean","example":false,"description":"Agente de retenci\u00f3n (opcional)"},"contribuyente_rimpe":{"type":"string","enum":["SI","NO"],"example":"NO","description":"Contribuyente RIMPE (opcional)"},"contribuyente_rimpe_popular":{"type":"string","enum":["SI","NO"],"example":"NO","description":"Contribuyente RIMPE Negocio Popular (opcional)"},"gran_contribuyente":{"type":"boolean","example":false,"description":"Gran contribuyente (opcional)"},"calificacion_artesanal":{"type":"string","maxLength":50,"example":"","description":"Calificaci\u00f3n artesanal (opcional)"},"regimen_rimpe":{"type":"boolean","example":false,"description":"R\u00e9gimen RIMPE (opcional)"},"regimen_rimpe_popular":{"type":"boolean","example":false,"description":"R\u00e9gimen RIMPE Popular (opcional)"},"numero_resolucion":{"type":"string","maxLength":100,"example":"","description":"N\u00famero de resoluci\u00f3n (opcional)"}}},"ambiente":{"type":"integer","enum":[1,2],"example":1,"description":"Ambiente: 1=Pruebas (GRATIS), 2=Producci\u00f3n (usa cr\u00e9ditos)"},"tipo_emision":{"type":"integer","enum":[1],"example":1,"description":"Tipo de emisi\u00f3n: 1=Normal (opcional, por defecto es 1)"},"comprador":{"type":"object","description":"Informaci\u00f3n del comprador\/cliente","required":["tipo_identificacion","identificacion","razon_social","direccion"],"properties":{"tipo_identificacion":{"type":"string","maxLength":2,"example":"05","description":"Tipo de identificaci\u00f3n (04=RUC, 05=C\u00e9dula, 06=Pasaporte, 07=Consumidor Final, 08=Identificaci\u00f3n del exterior)"},"identificacion":{"type":"string","maxLength":20,"example":"1234567890","description":"N\u00famero de identificaci\u00f3n del comprador"},"razon_social":{"type":"string","maxLength":300,"example":"Juan P\u00e9rez","description":"Nombre o raz\u00f3n social del comprador"},"direccion":{"type":"string","maxLength":300,"example":"Calle Secundaria 789","description":"Direcci\u00f3n del comprador"},"telefono":{"type":"string","maxLength":300,"example":"022345678","description":"Tel\u00e9fono del comprador (opcional)"},"celular":{"type":"string","maxLength":300,"example":"0987654321","description":"Celular del comprador (opcional)"},"correo":{"type":"string","maxLength":300,"example":"comprador@ejemplo.com","description":"Correo electr\u00f3nico del comprador (opcional)"}}},"documento_modificado":{"type":"object","description":"Informaci\u00f3n del documento que se est\u00e1 modificando","required":["codigo_documento_sustento","numero_documento_sustento","fecha_documento_sustento","motivo"],"properties":{"codigo_documento_sustento":{"type":"integer","example":1,"description":"C\u00f3digo del documento que se modifica (01=Factura, 04=Nota de Cr\u00e9dito, 05=Nota de D\u00e9bito, etc.)"},"numero_documento_sustento":{"type":"string","example":"001001000000001","description":"N\u00famero completo del documento que se modifica (sin guiones)"},"fecha_documento_sustento":{"type":"string","example":"2024\/01\/10","description":"Fecha del documento que se modifica en formato YYYY\/MM\/DD"},"motivo":{"type":"string","maxLength":300,"example":"Descuento por volumen","description":"Motivo de la nota de cr\u00e9dito"},"anula_comprobante":{"type":"string","example":"NO","description":"Indica si anula completamente el comprobante (opcional)"}}},"items":{"type":"array","description":"Detalle de productos\/servicios de la nota de cr\u00e9dito","minItems":1,"items":{"type":"object","required":["descripcion","cantidad","precio_unitario"],"properties":{"codigo_principal":{"type":"string","maxLength":25,"example":"PROD001","description":"C\u00f3digo principal del producto (opcional)"},"codigo_auxiliar":{"type":"string","maxLength":25,"example":"AUX001","description":"C\u00f3digo auxiliar del producto (opcional)"},"descripcion":{"type":"string","maxLength":300,"example":"Producto de ejemplo","description":"Descripci\u00f3n del producto\/servicio"},"cantidad":{"type":"number","format":"float","example":2,"description":"Cantidad del producto"},"precio_unitario":{"type":"number","format":"float","example":25,"description":"Precio unitario sin impuestos"},"descuento":{"type":"number","format":"float","example":5,"description":"Descuento aplicado (opcional)"},"tipoproducto":{"type":"integer","example":1,"description":"Tipo de producto (opcional)"},"tipo_iva":{"type":"integer","enum":[0,2,3,4,5,6,7,8,10],"example":2,"description":"Tipo de IVA (0=0%, 2=12%, 3=14%, 4=15%, 5=5%, 6=No objeto, 7=Exento, 8=8%, 10=13%) (opcional)"},"tipo_ice":{"type":"integer","example":0,"description":"Tipo de ICE (opcional)"},"valor_ice":{"type":"number","format":"float","example":0,"description":"Valor del ICE (opcional)"},"tipo_irbpnr":{"type":"integer","example":0,"description":"Tipo de IRBPNR (opcional)"},"subsidio":{"type":"number","format":"float","example":0,"description":"Subsidio aplicado (opcional)"},"unidad_medida":{"type":"integer","example":1,"description":"Unidad de medida (opcional)"},"detalles_adicionales":{"type":"array","description":"Detalles adicionales del producto (opcional)","items":{"type":"object","properties":{"nombre":{"type":"string","maxLength":300,"example":"Color","description":"Nombre del detalle"},"detalle":{"type":"string","maxLength":300,"example":"Azul","description":"Valor del detalle"}}}}}}},"informacion_adicional":{"type":"array","description":"Informaci\u00f3n adicional de la nota de cr\u00e9dito (opcional)","items":{"type":"object","properties":{"nombre":{"type":"string","maxLength":300,"example":"Observaciones","description":"Nombre del campo adicional"},"detalle":{"type":"string","maxLength":300,"example":"Nota de cr\u00e9dito por devoluci\u00f3n","description":"Detalle del campo adicional"}}}},"codigoDoc":{"type":"string","example":"04","description":"C\u00f3digo del documento (opcional, por defecto es 04 para notas de cr\u00e9dito)"}}},"examples":{"nota_credito_basica":{"summary":"Nota de cr\u00e9dito b\u00e1sica","description":"Ejemplo de nota de cr\u00e9dito simple modificando una factura","value":{"emisor":{"ruc":"0912345678001","secuencial":"000000001","fecha_emision":"2024\/01\/15","nombre_comercial":"Mi Empresa Comercial","razon_social":"MI EMPRESA S.A.","codigo_establecimiento":"001","codigo_puntoemision":"001","direccion_matriz":"Av. Principal 123","direccion_establecimiento":"Av. Sucursal 456","obligado_contabilidad":"SI"},"ambiente":1,"comprador":{"tipo_identificacion":"05","identificacion":"1234567890","razon_social":"Juan P\u00e9rez","direccion":"Calle Secundaria 789","correo":"comprador@ejemplo.com"},"documento_modificado":{"codigo_documento_sustento":1,"numero_documento_sustento":"001001000000001","fecha_documento_sustento":"2024\/01\/10","motivo":"Descuento por volumen"},"items":[{"codigo_principal":"PROD001","descripcion":"Producto de ejemplo","cantidad":2,"precio_unitario":25,"descuento":5,"tipo_iva":2}]}}}}}},"x-code-samples":[{"lang":"curl","label":"cURL (Nota de cr\u00e9dito b\u00e1sica)","source":"curl -X POST \"https:\/\/www.invoka.com.ec\/api\/credito\/emision\" \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"X-API-KEY: tu-api-key-aqui\" \\\n  -d '{\n    \"emisor\": {\n      \"ruc\": \"0912345678001\",\n      \"secuencial\": \"000000001\",\n      \"fecha_emision\": \"2024\/01\/15\",\n      \"nombre_comercial\": \"Mi Empresa Comercial\",\n      \"razon_social\": \"MI EMPRESA S.A.\",\n      \"codigo_establecimiento\": \"001\",\n      \"codigo_puntoemision\": \"001\",\n      \"direccion_matriz\": \"Av. Principal 123\",\n      \"direccion_establecimiento\": \"Av. Sucursal 456\",\n      \"obligado_contabilidad\": \"SI\"\n    },\n    \"ambiente\": 1,\n    \"comprador\": {\n      \"tipo_identificacion\": \"05\",\n      \"identificacion\": \"1234567890\",\n      \"razon_social\": \"Juan P\u00e9rez\",\n      \"direccion\": \"Calle Secundaria 789\",\n      \"correo\": \"comprador@ejemplo.com\"\n    },\n    \"documento_modificado\": {\n      \"codigo_documento_sustento\": 1,\n      \"numero_documento_sustento\": \"001001000000001\",\n      \"fecha_documento_sustento\": \"2024\/01\/10\",\n      \"motivo\": \"Descuento por volumen\"\n    },\n    \"items\": [\n      {\n        \"codigo_principal\": \"PROD001\",\n        \"descripcion\": \"Producto de ejemplo\",\n        \"cantidad\": 2.00,\n        \"precio_unitario\": 25.00,\n        \"descuento\": 5.00,\n        \"tipo_iva\": 2\n      }\n    ]\n  }'"},{"lang":"javascript","label":"JavaScript (fetch)","source":"const notaCreditoData = {\n  emisor: {\n    ruc: \"0912345678001\",\n    secuencial: \"000000001\",\n    fecha_emision: \"2024\/01\/15\",\n    nombre_comercial: \"Mi Empresa Comercial\",\n    razon_social: \"MI EMPRESA S.A.\",\n    codigo_establecimiento: \"001\",\n    codigo_puntoemision: \"001\",\n    direccion_matriz: \"Av. Principal 123\",\n    direccion_establecimiento: \"Av. Sucursal 456\",\n    obligado_contabilidad: \"SI\"\n  },\n  ambiente: 1, \/\/ 1=Pruebas (gratis), 2=Producci\u00f3n (usa cr\u00e9ditos)\n  comprador: {\n    tipo_identificacion: \"05\",\n    identificacion: \"1234567890\",\n    razon_social: \"Juan P\u00e9rez\",\n    direccion: \"Calle Secundaria 789\",\n    correo: \"comprador@ejemplo.com\"\n  },\n  documento_modificado: {\n    codigo_documento_sustento: 1,\n    numero_documento_sustento: \"001001000000001\",\n    fecha_documento_sustento: \"2024\/01\/10\",\n    motivo: \"Descuento por volumen\"\n  },\n  items: [\n    {\n      codigo_principal: \"PROD001\",\n      descripcion: \"Producto de ejemplo\",\n      cantidad: 2.00,\n      precio_unitario: 25.00,\n      descuento: 5.00,\n      tipo_iva: 2\n    }\n  ]\n};\n\nfetch(\"https:\/\/www.invoka.com.ec\/api\/credito\/emision\", {\n  method: \"POST\",\n  headers: {\n    \"Content-Type\": \"application\/json\",\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n  },\n  body: JSON.stringify(notaCreditoData)\n})\n.then(response => response.json())\n.then(data => {\n  if (data.creado) {\n    console.log(\"Nota de cr\u00e9dito creada:\", data.claveacceso);\n    console.log(\"ID Comprobante:\", data.id_comprobante);\n  } else {\n    console.error(\"Error:\", data.errors);\n  }\n})\n.catch(error => console.error(\"Error:\", error));"},{"lang":"php","label":"PHP (cURL)","source":"<?php\n$notaCreditoData = [\n    \"emisor\" => [\n        \"ruc\" => \"0912345678001\",\n        \"secuencial\" => \"000000001\",\n        \"fecha_emision\" => \"2024\/01\/15\",\n        \"nombre_comercial\" => \"Mi Empresa Comercial\",\n        \"razon_social\" => \"MI EMPRESA S.A.\",\n        \"codigo_establecimiento\" => \"001\",\n        \"codigo_puntoemision\" => \"001\",\n        \"direccion_matriz\" => \"Av. Principal 123\",\n        \"direccion_establecimiento\" => \"Av. Sucursal 456\",\n        \"obligado_contabilidad\" => \"SI\"\n    ],\n    \"ambiente\" => 1, \/\/ 1=Pruebas (gratis), 2=Producci\u00f3n (usa cr\u00e9ditos)\n    \"comprador\" => [\n        \"tipo_identificacion\" => \"05\",\n        \"identificacion\" => \"1234567890\",\n        \"razon_social\" => \"Juan P\u00e9rez\",\n        \"direccion\" => \"Calle Secundaria 789\",\n        \"correo\" => \"comprador@ejemplo.com\"\n    ],\n    \"documento_modificado\" => [\n        \"codigo_documento_sustento\" => 1,\n        \"numero_documento_sustento\" => \"001001000000001\",\n        \"fecha_documento_sustento\" => \"2024\/01\/10\",\n        \"motivo\" => \"Descuento por volumen\"\n    ],\n    \"items\" => [\n        [\n            \"codigo_principal\" => \"PROD001\",\n            \"descripcion\" => \"Producto de ejemplo\",\n            \"cantidad\" => 2.00,\n            \"precio_unitario\" => 25.00,\n            \"descuento\" => 5.00,\n            \"tipo_iva\" => 2\n        ]\n    ]\n];\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n    CURLOPT_URL => \"https:\/\/www.invoka.com.ec\/api\/credito\/emision\",\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_POST => true,\n    CURLOPT_POSTFIELDS => json_encode($notaCreditoData),\n    CURLOPT_HTTPHEADER => [\n        \"Content-Type: application\/json\",\n        \"X-API-KEY: tu-api-key-aqui\"\n    ],\n]);\n\n$response = curl_exec($curl);\n$httpCode = curl_getinfo($curl, CURLINFO_HTTP_CODE);\ncurl_close($curl);\n\n$data = json_decode($response, true);\n\nif ($httpCode == 200 && $data[\\\"creado\\\"]) {\n    echo \"Nota de cr\u00e9dito creada exitosamente:\\n\";\n    echo \"Clave de acceso: \" . $data[\\\"claveacceso\\\"] . \"\\n\";\n    echo \"ID Comprobante: \" . $data[\\\"id_comprobante\\\"] . \"\\n\";\n} else {\n    echo \"Error en la emisi\u00f3n:\\n\";\n    if (isset($data[\\\"errors\\\"])) {\n        print_r($data[\\\"errors\\\"]);\n    }\n}\n?>"},{"lang":"python","label":"Python (requests)","source":"import requests\nimport json\n\nnota_credito_data = {\n    \"emisor\": {\n        \"ruc\": \"0912345678001\",\n        \"secuencial\": \"000000001\",\n        \"fecha_emision\": \"2024\/01\/15\",\n        \"nombre_comercial\": \"Mi Empresa Comercial\",\n        \"razon_social\": \"MI EMPRESA S.A.\",\n        \"codigo_establecimiento\": \"001\",\n        \"codigo_puntoemision\": \"001\",\n        \"direccion_matriz\": \"Av. Principal 123\",\n        \"direccion_establecimiento\": \"Av. Sucursal 456\",\n        \"obligado_contabilidad\": \"SI\"\n    },\n    \"ambiente\": 1,  # 1=Pruebas (gratis), 2=Producci\u00f3n (usa cr\u00e9ditos)\n    \"comprador\": {\n        \"tipo_identificacion\": \"05\",\n        \"identificacion\": \"1234567890\",\n        \"razon_social\": \"Juan P\u00e9rez\",\n        \"direccion\": \"Calle Secundaria 789\",\n        \"correo\": \"comprador@ejemplo.com\"\n    },\n    \"documento_modificado\": {\n        \"codigo_documento_sustento\": 1,\n        \"numero_documento_sustento\": \"001001000000001\",\n        \"fecha_documento_sustento\": \"2024\/01\/10\",\n        \"motivo\": \"Descuento por volumen\"\n    },\n    \"items\": [\n        {\n            \"codigo_principal\": \"PROD001\",\n            \"descripcion\": \"Producto de ejemplo\",\n            \"cantidad\": 2.00,\n            \"precio_unitario\": 25.00,\n            \"descuento\": 5.00,\n            \"tipo_iva\": 2\n        }\n    ]\n}\n\nurl = \"https:\/\/www.invoka.com.ec\/api\/credito\/emision\"\nheaders = {\n    \"Content-Type\": \"application\/json\",\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n}\n\ntry:\n    response = requests.post(url, headers=headers, json=nota_credito_data)\n    response.raise_for_status()\n\n    data = response.json()\n\n    if data.get(\"creado\"):\n        print(f\"Nota de cr\u00e9dito creada exitosamente:\")\n        print(f\"Clave de acceso: {data[\\\"claveacceso\\\"]}\")\n        print(f\"ID Comprobante: {data[\\\"id_comprobante\\\"]}\")\n    else:\n        print(f\"Error en la emisi\u00f3n:\")\n        if \\\"errors\\\" in data:\n            print(\"Detalles del error:\")\n            print(json.dumps(data[\\\"errors\\\"], indent=2))\n\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error de conexi\u00f3n: {e}\")\nexcept json.JSONDecodeError as e:\n    print(f\"Error al decodificar respuesta: {e}\")"}],"responses":{"200":{"description":"Nota de cr\u00e9dito registrada exitosamente para procesamiento","content":{"application\/json":{"schema":{"type":"object","properties":{"creado":{"type":"boolean","example":true,"description":"Indica si la nota de cr\u00e9dito fue creada exitosamente"},"claveacceso":{"type":"string","example":"1501202404091234567800110010010000000011234567890","description":"Clave de acceso del comprobante generada"},"id_comprobante":{"type":"integer","example":12345,"description":"ID interno del comprobante en la base de datos"}}}}}},"400":{"description":"Error en los datos enviados","content":{"application\/json":{"schema":{"type":"object","properties":{"creado":{"type":"boolean","example":false},"errors":{"type":"array","description":"Lista de errores de validaci\u00f3n","items":{"type":"string"},"example":["El campo emisor.ruc es obligatorio.","El campo documento_modificado.motivo es obligatorio."]}}}}}},"401":{"description":"API Key inv\u00e1lida o empresa no existe","content":{"application\/json":{"schema":{"type":"object","properties":{"creado":{"type":"boolean","example":false},"errors":{"type":"array","items":{"type":"string"},"example":["Api_key No existe"]}}}}}},"500":{"description":"Error interno del servidor","content":{"application\/json":{"schema":{"type":"object","properties":{"respuesta":{"type":"boolean","example":false},"error":{"type":"string","example":"Error interno del servidor"}}}}}}}}},"\/api\/guia\/emision":{"post":{"tags":["Gu\u00edas de Remisi\u00f3n"],"summary":"Emitir gu\u00eda de remisi\u00f3n electr\u00f3nica","description":"Crea y procesa una gu\u00eda de remisi\u00f3n electr\u00f3nica (C\u00f3digo 06) seg\u00fan normativa SRI Ecuador.\n\n**IMPORTANTE:**\n- **Ambiente 1 (Pruebas)**: GRATIS e ilimitado - Para desarrollo y testing\n- **Ambiente 2 (Producci\u00f3n)**: Usa 1 cr\u00e9dito por gu\u00eda de remisi\u00f3n autorizada\n- Las gu\u00edas de remisi\u00f3n se usan para documentar el traslado de mercanc\u00edas\n- Debe incluir informaci\u00f3n del transportista, destinatario y detalles del traslado\n- **Formato de fecha**: YYYY\/MM\/DD (con barras, ejemplo: 2024\/01\/15)\n\n**ESTRUCTURA DE DATOS:**\n- **Emisor**: Datos de la empresa que emite (incluye secuencial y fecha de emisi\u00f3n)\n- **Transportista**: Datos de quien transporta las mercanc\u00edas\n- **Destinatario**: Datos de quien recibe las mercanc\u00edas\n- **Traslado**: Informaci\u00f3n del transporte (fechas, origen, destino, ruta, motivo)\n- **Items**: Array de productos\/mercanc\u00edas a transportar\n- **Documento sustento**: Documento que respalda el traslado (opcional)\n- **Informaci\u00f3n adicional**: Campos personalizados (opcional)","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["emisor","ambiente","transportista","destinatario","traslado","items"],"properties":{"emisor":{"type":"object","description":"Informaci\u00f3n del emisor\/empresa","required":["ruc","secuencial","fecha_emision","nombre_comercial","codigo_establecimiento","codigo_puntoemision","direccion_matriz","direccion_establecimiento"],"properties":{"ruc":{"type":"string","maxLength":13,"example":"0912345678001","description":"RUC del emisor (13 d\u00edgitos)"},"secuencial":{"type":"string","maxLength":9,"example":"000000001","description":"N\u00famero secuencial de la gu\u00eda de remisi\u00f3n (9 d\u00edgitos)"},"fecha_emision":{"type":"string","example":"2024\/01\/15","description":"Fecha de emisi\u00f3n en formato YYYY\/MM\/DD (con barras)"},"nombre_comercial":{"type":"string","maxLength":300,"example":"Mi Empresa Comercial","description":"Nombre comercial del emisor"},"razon_social":{"type":"string","maxLength":300,"example":"MI EMPRESA S.A.","description":"Raz\u00f3n social del emisor (opcional)"},"codigo_establecimiento":{"type":"string","maxLength":3,"example":"001","description":"C\u00f3digo de establecimiento (3 d\u00edgitos)"},"codigo_puntoemision":{"type":"string","maxLength":3,"example":"001","description":"C\u00f3digo de punto de emisi\u00f3n (3 d\u00edgitos)"},"direccion_matriz":{"type":"string","maxLength":300,"example":"Av. Principal 123","description":"Direcci\u00f3n de la matriz"},"direccion_establecimiento":{"type":"string","maxLength":300,"example":"Av. Sucursal 456","description":"Direcci\u00f3n del establecimiento"},"obligado_contabilidad":{"type":"string","enum":["SI","NO"],"example":"SI","description":"Obligado a llevar contabilidad (opcional)"},"contribuyente_especial":{"type":"string","maxLength":50,"example":"12345","description":"N\u00famero de contribuyente especial (opcional)"},"agente_retencion":{"type":"boolean","example":false,"description":"Agente de retenci\u00f3n (opcional)"},"gran_contribuyente":{"type":"boolean","example":false,"description":"Gran contribuyente (opcional)"},"calificacion_artesanal":{"type":"string","maxLength":50,"example":"","description":"Calificaci\u00f3n artesanal (opcional)"},"regimen_rimpe":{"type":"boolean","example":false,"description":"R\u00e9gimen RIMPE (opcional)"},"regimen_rimpe_popular":{"type":"boolean","example":false,"description":"R\u00e9gimen RIMPE Popular (opcional)"}}},"ambiente":{"type":"integer","enum":[1,2],"example":1,"description":"Ambiente: 1=Pruebas (GRATIS), 2=Producci\u00f3n (usa cr\u00e9ditos)"},"tipo_emision":{"type":"integer","enum":[1],"example":1,"description":"Tipo de emisi\u00f3n: 1=Normal (opcional, por defecto es 1)"},"transportista":{"type":"object","description":"Informaci\u00f3n del transportista","required":["tipo_identificacion","identificacion","razon_social"],"properties":{"tipo_identificacion":{"type":"string","maxLength":2,"example":"05","description":"Tipo de identificaci\u00f3n del transportista (04=RUC, 05=C\u00e9dula, 06=Pasaporte, 07=Consumidor Final, 08=Identificaci\u00f3n del exterior)"},"identificacion":{"type":"string","maxLength":20,"example":"1234567890","description":"N\u00famero de identificaci\u00f3n del transportista"},"razon_social":{"type":"string","maxLength":300,"example":"Transportes ABC","description":"Raz\u00f3n social o nombre del transportista"},"direccion":{"type":"string","maxLength":300,"example":"Av. Transporte 123","description":"Direcci\u00f3n del transportista (opcional)"},"telefono":{"type":"string","maxLength":300,"example":"022345678","description":"Tel\u00e9fono del transportista (opcional)"},"celular":{"type":"string","maxLength":300,"example":"0987654321","description":"Celular del transportista (opcional)"},"correo":{"type":"string","maxLength":300,"example":"transportista@ejemplo.com","description":"Correo electr\u00f3nico del transportista (opcional)"},"placa":{"type":"string","example":"ABC1234","description":"Placa del veh\u00edculo de transporte (opcional)"}}},"destinatario":{"type":"object","description":"Informaci\u00f3n del destinatario","required":["tipo_identificacion","identificacion","razon_social","direccion"],"properties":{"tipo_identificacion":{"type":"string","maxLength":2,"example":"05","description":"Tipo de identificaci\u00f3n del destinatario (04=RUC, 05=C\u00e9dula, 06=Pasaporte, 07=Consumidor Final, 08=Identificaci\u00f3n del exterior)"},"identificacion":{"type":"string","maxLength":20,"example":"0987654321","description":"N\u00famero de identificaci\u00f3n del destinatario"},"razon_social":{"type":"string","maxLength":300,"example":"Juan P\u00e9rez","description":"Nombre o raz\u00f3n social del destinatario"},"direccion":{"type":"string","maxLength":300,"example":"Calle Destino 789","description":"Direcci\u00f3n del destinatario"},"telefono":{"type":"string","maxLength":300,"example":"022345678","description":"Tel\u00e9fono del destinatario (opcional)"},"celular":{"type":"string","maxLength":300,"example":"0987654321","description":"Celular del destinatario (opcional)"},"correo":{"type":"string","maxLength":300,"example":"destinatario@ejemplo.com","description":"Correo electr\u00f3nico del destinatario (opcional)"},"nombre_sucursal":{"type":"string","maxLength":300,"example":"Sucursal Norte","description":"Nombre de la sucursal (opcional)"},"codigo_sucursal":{"type":"string","example":"002","description":"C\u00f3digo de la sucursal (opcional)"}}},"traslado":{"type":"object","description":"Informaci\u00f3n del traslado de mercanc\u00edas","required":["direccion_destino"],"properties":{"fecha_inicio_transporte":{"type":"string","example":"2024\/01\/15","description":"Fecha de inicio del transporte en formato YYYY\/MM\/DD (opcional)"},"fecha_fin_transporte":{"type":"string","example":"2024\/01\/16","description":"Fecha de fin del transporte en formato YYYY\/MM\/DD (opcional)"},"punto_partida":{"type":"string","example":"Bodega Central - Av. Principal 123","description":"Punto de partida del transporte (opcional)"},"direccion_destino":{"type":"string","example":"Cliente Final - Calle Destino 789","description":"Direcci\u00f3n de destino del transporte"},"ruta":{"type":"string","example":"Ruta Nacional E35","description":"Ruta del transporte (opcional)"},"motivo_traslado":{"type":"string","example":"Venta","description":"Motivo del traslado (opcional)"},"codigo_establecimiento_destino":{"type":"integer","example":2,"description":"C\u00f3digo del establecimiento de destino (opcional)"}}},"items":{"type":"array","description":"Detalle de productos\/mercanc\u00edas a transportar","minItems":1,"items":{"type":"object","required":["codigo_principal","descripcion","cantidad"],"properties":{"codigo_principal":{"type":"string","maxLength":25,"example":"PROD001","description":"C\u00f3digo principal del producto"},"codigo_auxiliar":{"type":"string","maxLength":25,"example":"AUX001","description":"C\u00f3digo auxiliar del producto (opcional)"},"descripcion":{"type":"string","maxLength":300,"example":"Producto de ejemplo para transportar","description":"Descripci\u00f3n del producto\/mercanc\u00eda"},"cantidad":{"type":"number","format":"float","example":10,"description":"Cantidad del producto a transportar"},"unidad_medida":{"type":"integer","example":1,"description":"Unidad de medida (opcional)"},"detalles_adicionales":{"type":"array","description":"Detalles adicionales del producto (opcional)","items":{"type":"object","properties":{"nombre":{"type":"string","maxLength":300,"example":"Peso","description":"Nombre del detalle"},"detalle":{"type":"string","maxLength":300,"example":"50 kg","description":"Valor del detalle"}}}}}}},"documento_sustento":{"type":"object","description":"Documento que sustenta el traslado (opcional)","properties":{"codigo_documento_sustento":{"type":"integer","example":1,"description":"C\u00f3digo del documento de sustento (01=Factura, etc.)"},"numero_documento_sustento":{"type":"string","example":"001001000000001","description":"N\u00famero del documento de sustento"},"fecha_emision_documento_sustento":{"type":"string","example":"2024\/01\/14","description":"Fecha de emisi\u00f3n del documento de sustento en formato YYYY\/MM\/DD"},"autorizacion_documento_sustento":{"type":"string","example":"1234567890123456789012345678901234567890123456789","description":"N\u00famero de autorizaci\u00f3n del documento de sustento"},"documento_aduanero":{"type":"string","example":"DAU123456","description":"Documento aduanero \u00fanico"}}},"informacion_adicional":{"type":"array","description":"Informaci\u00f3n adicional de la gu\u00eda de remisi\u00f3n (opcional)","items":{"type":"object","properties":{"nombre":{"type":"string","maxLength":300,"example":"Observaciones","description":"Nombre del campo adicional"},"detalle":{"type":"string","maxLength":300,"example":"Mercanc\u00eda fr\u00e1gil","description":"Detalle del campo adicional"}}}},"codigoDoc":{"type":"string","example":"06","description":"C\u00f3digo del documento (opcional, por defecto es 06 para gu\u00edas de remisi\u00f3n)"},"proceso":{"type":"string","enum":["Nuevo","Actualizar"],"example":"Nuevo","description":"Tipo de proceso (opcional, por defecto es Nuevo)"}}},"examples":{"guia_basica":{"summary":"Gu\u00eda de remisi\u00f3n b\u00e1sica","description":"Ejemplo de gu\u00eda de remisi\u00f3n simple para traslado de mercanc\u00edas","value":{"emisor":{"ruc":"0912345678001","secuencial":"000000001","fecha_emision":"2024\/01\/15","nombre_comercial":"Mi Empresa Comercial","razon_social":"MI EMPRESA S.A.","codigo_establecimiento":"001","codigo_puntoemision":"001","direccion_matriz":"Av. Principal 123","direccion_establecimiento":"Av. Sucursal 456","obligado_contabilidad":"SI"},"ambiente":1,"transportista":{"tipo_identificacion":"05","identificacion":"1234567890","razon_social":"Transportes ABC","placa":"ABC1234"},"destinatario":{"tipo_identificacion":"05","identificacion":"0987654321","razon_social":"Juan P\u00e9rez","direccion":"Calle Destino 789"},"traslado":{"fecha_inicio_transporte":"2024\/01\/15","fecha_fin_transporte":"2024\/01\/16","punto_partida":"Bodega Central - Av. Principal 123","direccion_destino":"Cliente Final - Calle Destino 789","motivo_traslado":"Venta"},"items":[{"codigo_principal":"PROD001","descripcion":"Producto de ejemplo para transportar","cantidad":10}]}}}}}},"x-code-samples":[{"lang":"curl","label":"cURL (Gu\u00eda b\u00e1sica)","source":"curl -X POST \"https:\/\/www.invoka.com.ec\/api\/guia\/emision\" \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"X-API-KEY: tu-api-key-aqui\" \\\n  -d '{\n    \"emisor\": {\n      \"ruc\": \"0912345678001\",\n      \"secuencial\": \"000000001\",\n      \"fecha_emision\": \"2024\/01\/15\",\n      \"nombre_comercial\": \"Mi Empresa Comercial\",\n      \"razon_social\": \"MI EMPRESA S.A.\",\n      \"codigo_establecimiento\": \"001\",\n      \"codigo_puntoemision\": \"001\",\n      \"direccion_matriz\": \"Av. Principal 123\",\n      \"direccion_establecimiento\": \"Av. Sucursal 456\",\n      \"obligado_contabilidad\": \"SI\"\n    },\n    \"ambiente\": 1,\n    \"transportista\": {\n      \"tipo_identificacion\": \"05\",\n      \"identificacion\": \"1234567890\",\n      \"razon_social\": \"Transportes ABC\",\n      \"placa\": \"ABC1234\"\n    },\n    \"destinatario\": {\n      \"tipo_identificacion\": \"05\",\n      \"identificacion\": \"0987654321\",\n      \"razon_social\": \"Juan P\u00e9rez\",\n      \"direccion\": \"Calle Destino 789\"\n    },\n    \"traslado\": {\n      \"fecha_inicio_transporte\": \"2024\/01\/15\",\n      \"fecha_fin_transporte\": \"2024\/01\/16\",\n      \"punto_partida\": \"Bodega Central - Av. Principal 123\",\n      \"direccion_destino\": \"Cliente Final - Calle Destino 789\",\n      \"motivo_traslado\": \"Venta\"\n    },\n    \"items\": [\n      {\n        \"codigo_principal\": \"PROD001\",\n        \"descripcion\": \"Producto de ejemplo para transportar\",\n        \"cantidad\": 10.00\n      }\n    ]\n  }'"},{"lang":"javascript","label":"JavaScript (fetch)","source":"const guiaData = {\n  emisor: {\n    ruc: \"0912345678001\",\n    secuencial: \"000000001\",\n    fecha_emision: \"2024\/01\/15\",\n    nombre_comercial: \"Mi Empresa Comercial\",\n    razon_social: \"MI EMPRESA S.A.\",\n    codigo_establecimiento: \"001\",\n    codigo_puntoemision: \"001\",\n    direccion_matriz: \"Av. Principal 123\",\n    direccion_establecimiento: \"Av. Sucursal 456\",\n    obligado_contabilidad: \"SI\"\n  },\n  ambiente: 1, \/\/ 1=Pruebas (gratis), 2=Producci\u00f3n (usa cr\u00e9ditos)\n  transportista: {\n    tipo_identificacion: \"05\",\n    identificacion: \"1234567890\",\n    razon_social: \"Transportes ABC\",\n    placa: \"ABC1234\"\n  },\n  destinatario: {\n    tipo_identificacion: \"05\",\n    identificacion: \"0987654321\",\n    razon_social: \"Juan P\u00e9rez\",\n    direccion: \"Calle Destino 789\"\n  },\n  traslado: {\n    fecha_inicio_transporte: \"2024\/01\/15\",\n    fecha_fin_transporte: \"2024\/01\/16\",\n    punto_partida: \"Bodega Central - Av. Principal 123\",\n    direccion_destino: \"Cliente Final - Calle Destino 789\",\n    motivo_traslado: \"Venta\"\n  },\n  items: [\n    {\n      codigo_principal: \"PROD001\",\n      descripcion: \"Producto de ejemplo para transportar\",\n      cantidad: 10.00\n    }\n  ]\n};\n\nfetch(\"https:\/\/www.invoka.com.ec\/api\/guia\/emision\", {\n  method: \"POST\",\n  headers: {\n    \"Content-Type\": \"application\/json\",\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n  },\n  body: JSON.stringify(guiaData)\n})\n.then(response => response.json())\n.then(data => {\n  if (data.creado) {\n    console.log(\"Gu\u00eda de remisi\u00f3n creada:\", data.claveacceso);\n    console.log(\"ID Comprobante:\", data.id_comprobante);\n  } else {\n    console.error(\"Error:\", data.errors);\n  }\n})\n.catch(error => console.error(\"Error:\", error));"},{"lang":"php","label":"PHP (cURL)","source":"<?php\n$guiaData = [\n    \"emisor\" => [\n        \"ruc\" => \"0912345678001\",\n        \"secuencial\" => \"000000001\",\n        \"fecha_emision\" => \"2024\/01\/15\",\n        \"nombre_comercial\" => \"Mi Empresa Comercial\",\n        \"razon_social\" => \"MI EMPRESA S.A.\",\n        \"codigo_establecimiento\" => \"001\",\n        \"codigo_puntoemision\" => \"001\",\n        \"direccion_matriz\" => \"Av. Principal 123\",\n        \"direccion_establecimiento\" => \"Av. Sucursal 456\",\n        \"obligado_contabilidad\" => \"SI\"\n    ],\n    \"ambiente\" => 1, \/\/ 1=Pruebas (gratis), 2=Producci\u00f3n (usa cr\u00e9ditos)\n    \"transportista\" => [\n        \"tipo_identificacion\" => \"05\",\n        \"identificacion\" => \"1234567890\",\n        \"razon_social\" => \"Transportes ABC\",\n        \"placa\" => \"ABC1234\"\n    ],\n    \"destinatario\" => [\n        \"tipo_identificacion\" => \"05\",\n        \"identificacion\" => \"0987654321\",\n        \"razon_social\" => \"Juan P\u00e9rez\",\n        \"direccion\" => \"Calle Destino 789\"\n    ],\n    \"traslado\" => [\n        \"fecha_inicio_transporte\" => \"2024\/01\/15\",\n        \"fecha_fin_transporte\" => \"2024\/01\/16\",\n        \"punto_partida\" => \"Bodega Central - Av. Principal 123\",\n        \"direccion_destino\" => \"Cliente Final - Calle Destino 789\",\n        \"motivo_traslado\" => \"Venta\"\n    ],\n    \"items\" => [\n        [\n            \"codigo_principal\" => \"PROD001\",\n            \"descripcion\" => \"Producto de ejemplo para transportar\",\n            \"cantidad\" => 10.00\n        ]\n    ]\n];\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n    CURLOPT_URL => \"https:\/\/www.invoka.com.ec\/api\/guia\/emision\",\n    CURLOPT_RETURNTRANSFER => true,\n    CURLOPT_POST => true,\n    CURLOPT_POSTFIELDS => json_encode($guiaData),\n    CURLOPT_HTTPHEADER => [\n        \"Content-Type: application\/json\",\n        \"X-API-KEY: tu-api-key-aqui\"\n    ],\n]);\n\n$response = curl_exec($curl);\n$httpCode = curl_getinfo($curl, CURLINFO_HTTP_CODE);\ncurl_close($curl);\n\n$data = json_decode($response, true);\n\nif ($httpCode == 200 && $data[\\\"creado\\\"]) {\n    echo \"Gu\u00eda de remisi\u00f3n creada exitosamente:\\n\";\n    echo \"Clave de acceso: \" . $data[\\\"claveacceso\\\"] . \"\\n\";\n    echo \"ID Comprobante: \" . $data[\\\"id_comprobante\\\"] . \"\\n\";\n} else {\n    echo \"Error en la emisi\u00f3n:\\n\";\n    if (isset($data[\\\"errors\\\"])) {\n        print_r($data[\\\"errors\\\"]);\n    }\n}\n?>"},{"lang":"python","label":"Python (requests)","source":"import requests\nimport json\n\nguia_data = {\n    \"emisor\": {\n        \"ruc\": \"0912345678001\",\n        \"secuencial\": \"000000001\",\n        \"fecha_emision\": \"2024\/01\/15\",\n        \"nombre_comercial\": \"Mi Empresa Comercial\",\n        \"razon_social\": \"MI EMPRESA S.A.\",\n        \"codigo_establecimiento\": \"001\",\n        \"codigo_puntoemision\": \"001\",\n        \"direccion_matriz\": \"Av. Principal 123\",\n        \"direccion_establecimiento\": \"Av. Sucursal 456\",\n        \"obligado_contabilidad\": \"SI\"\n    },\n    \"ambiente\": 1,  # 1=Pruebas (gratis), 2=Producci\u00f3n (usa cr\u00e9ditos)\n    \"transportista\": {\n        \"tipo_identificacion\": \"05\",\n        \"identificacion\": \"1234567890\",\n        \"razon_social\": \"Transportes ABC\",\n        \"placa\": \"ABC1234\"\n    },\n    \"destinatario\": {\n        \"tipo_identificacion\": \"05\",\n        \"identificacion\": \"0987654321\",\n        \"razon_social\": \"Juan P\u00e9rez\",\n        \"direccion\": \"Calle Destino 789\"\n    },\n    \"traslado\": {\n        \"fecha_inicio_transporte\": \"2024\/01\/15\",\n        \"fecha_fin_transporte\": \"2024\/01\/16\",\n        \"punto_partida\": \"Bodega Central - Av. Principal 123\",\n        \"direccion_destino\": \"Cliente Final - Calle Destino 789\",\n        \"motivo_traslado\": \"Venta\"\n    },\n    \"items\": [\n        {\n            \"codigo_principal\": \"PROD001\",\n            \"descripcion\": \"Producto de ejemplo para transportar\",\n            \"cantidad\": 10.00\n        }\n    ]\n}\n\nurl = \"https:\/\/www.invoka.com.ec\/api\/guia\/emision\"\nheaders = {\n    \"Content-Type\": \"application\/json\",\n    \"X-API-KEY\": \"tu-api-key-aqui\"\n}\n\ntry:\n    response = requests.post(url, headers=headers, json=guia_data)\n    response.raise_for_status()\n\n    data = response.json()\n\n    if data.get(\"creado\"):\n        print(f\"Gu\u00eda de remisi\u00f3n creada exitosamente:\")\n        print(f\"Clave de acceso: {data[\\\"claveacceso\\\"]}\")\n        print(f\"ID Comprobante: {data[\\\"id_comprobante\\\"]}\")\n    else:\n        print(f\"Error en la emisi\u00f3n:\")\n        if \\\"errors\\\" in data:\n            print(\"Detalles del error:\")\n            print(json.dumps(data[\\\"errors\\\"], indent=2))\n\nexcept requests.exceptions.RequestException as e:\n    print(f\"Error de conexi\u00f3n: {e}\")\nexcept json.JSONDecodeError as e:\n    print(f\"Error al decodificar respuesta: {e}\")"}],"responses":{"200":{"description":"Gu\u00eda de remisi\u00f3n registrada exitosamente para procesamiento","content":{"application\/json":{"schema":{"type":"object","properties":{"creado":{"type":"boolean","example":true,"description":"Indica si la gu\u00eda de remisi\u00f3n fue creada exitosamente"},"claveacceso":{"type":"string","example":"1501202406091234567800110010010000000011234567890","description":"Clave de acceso del comprobante generada"},"id_comprobante":{"type":"integer","example":12345,"description":"ID interno del comprobante en la base de datos"}}}}}},"400":{"description":"Error en los datos enviados","content":{"application\/json":{"schema":{"type":"object","properties":{"creado":{"type":"boolean","example":false},"errors":{"type":"array","description":"Lista de errores de validaci\u00f3n","items":{"type":"string"},"example":["El campo emisor.ruc es obligatorio.","El campo traslado.direccion_destino es obligatorio."]}}}}}},"401":{"description":"API Key inv\u00e1lida o empresa no existe","content":{"application\/json":{"schema":{"type":"object","properties":{"creado":{"type":"boolean","example":false},"errors":{"type":"array","items":{"type":"string"},"example":["Api_key No existe"]}}}}}},"500":{"description":"Error interno del servidor","content":{"application\/json":{"schema":{"type":"object","properties":{"creado":{"type":"boolean","example":false},"errors":{"type":"array","items":{"type":"string"},"example":["Error en creacion"]}}}}}}}}},"\/api\/retencion\/emision":{"post":{"tags":["Comprobantes de Retenci\u00f3n"],"summary":"Emitir comprobante de retenci\u00f3n electr\u00f3nico","description":"Crea y procesa un comprobante de retenci\u00f3n electr\u00f3nico (C\u00f3digo 07) seg\u00fan normativa SRI Ecuador.\n\n**IMPORTANTE:**\n- **Ambiente 1 (Pruebas)**: GRATIS e ilimitado - Para desarrollo y testing\n- **Ambiente 2 (Producci\u00f3n)**: Usa 1 cr\u00e9dito por comprobante de retenci\u00f3n autorizado\n- Las retenciones se emiten cuando se realizan pagos sujetos a retenci\u00f3n\n- Debe incluir informaci\u00f3n del documento sustento (factura, liquidaci\u00f3n, etc.)\n- **Formato de fecha**: YYYY\/MM\/DD (con barras, ejemplo: 2024\/01\/15)\n\n**ESTRUCTURA DE DATOS:**\n- **Emisor**: Datos de la empresa que emite (incluye secuencial y fecha de emisi\u00f3n)\n- **Proveedor**: Datos del sujeto al que se le retiene\n- **Sustento**: Informaci\u00f3n del documento que sustenta la retenci\u00f3n (factura, liquidaci\u00f3n, etc.)\n  - Puede incluir **items** (productos\/servicios) O **gastos** (subtotales por tipo de IVA)\n- **Retenciones**: Array de retenciones aplicadas (IVA, Renta, ISD)\n- **Informaci\u00f3n adicional**: Campos personalizados (opcional)","security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","required":["emisor","ambiente","codigoDoc","proveedor","sustento","retenciones"],"properties":{"emisor":{"type":"object","description":"Informaci\u00f3n del emisor\/empresa","required":["ruc","secuencial","fecha_emision","nombre_comercial","codigo_establecimiento","codigo_puntoemision","direccion_matriz","direccion_establecimiento"],"properties":{"ruc":{"type":"string","maxLength":13,"example":"0912345678001","description":"RUC del emisor (13 d\u00edgitos)"},"secuencial":{"type":"string","maxLength":9,"example":"000000001","description":"N\u00famero secuencial del comprobante de retenci\u00f3n (9 d\u00edgitos)"},"fecha_emision":{"type":"string","example":"2024\/01\/15","description":"Fecha de emisi\u00f3n en formato YYYY\/MM\/DD (con barras)"},"nombre_comercial":{"type":"string","maxLength":300,"example":"Mi Empresa Comercial","description":"Nombre comercial del emisor"},"razon_social":{"type":"string","maxLength":300,"example":"MI EMPRESA S.A.","description":"Raz\u00f3n social del emisor (opcional)"},"codigo_establecimiento":{"type":"string","maxLength":3,"example":"001","description":"C\u00f3digo de establecimiento (3 d\u00edgitos)"},"codigo_puntoemision":{"type":"string","maxLength":3,"example":"001","description":"C\u00f3digo de punto de emisi\u00f3n (3 d\u00edgitos)"},"direccion_matriz":{"type":"string","maxLength":300,"example":"Av. Principal 123","description":"Direcci\u00f3n de la matriz"},"direccion_establecimiento":{"type":"string","maxLength":300,"example":"Av. Sucursal 456","description":"Direcci\u00f3n del establecimiento"},"obligado_contabilidad":{"type":"string","enum":["SI","NO"],"example":"SI","description":"Obligado a llevar contabilidad (opcional)"},"contribuyente_especial":{"type":"string","maxLength":50,"example":"12345","description":"N\u00famero de contribuyente especial (opcional)"},"agente_retencion":{"type":"boolean","example":true,"description":"Agente de retenci\u00f3n (opcional)"},"gran_contribuyente":{"type":"boolean","example":false,"description":"Gran contribuyente (opcional)"},"regimen_rimpe":{"type":"boolean","example":false,"description":"R\u00e9gimen RIMPE (opcional)"},"regimen_rimpe_popular":{"type":"boolean","example":false,"description":"R\u00e9gimen RIMPE Popular (opcional)"}}},"ambiente":{"type":"integer","enum":[1,2],"example":1,"description":"Ambiente: 1=Pruebas (GRATIS), 2=Producci\u00f3n (usa cr\u00e9ditos)"},"codigoDoc":{"type":"string","example":"07","description":"C\u00f3digo del documento (07 para comprobantes de retenci\u00f3n)"},"proveedor":{"type":"object","description":"Informaci\u00f3n del proveedor\/sujeto retenido","required":["tipo_identificacion","identificacion","razon_social","direccion"],"properties":{"tipo_identificacion":{"type":"string","maxLength":2,"example":"04","description":"Tipo de identificaci\u00f3n del proveedor (04=RUC, 05=C\u00e9dula, 06=Pasaporte, 07=Consumidor Final, 08=Identificaci\u00f3n del exterior)"},"identificacion":{"type":"string","maxLength":20,"example":"0912345678001","description":"N\u00famero de identificaci\u00f3n del proveedor"},"razon_social":{"type":"string","maxLength":300,"example":"PROVEEDOR EJEMPLO S.A.","description":"Raz\u00f3n social del proveedor"},"direccion":{"type":"string","maxLength":300,"example":"Av. Proveedor 789","description":"Direcci\u00f3n del proveedor"},"telefono":{"type":"string","maxLength":300,"example":"022345678","description":"Tel\u00e9fono del proveedor (opcional)"},"celular":{"type":"string","maxLength":300,"example":"0987654321","description":"Celular del proveedor (opcional)"},"correo":{"type":"string","maxLength":300,"example":"proveedor@ejemplo.com","description":"Correo electr\u00f3nico del proveedor (opcional)"}}},"sustento":{"type":"object","description":"Informaci\u00f3n del documento que sustenta la retenci\u00f3n","required":["codigo_sustento_tributario","codigo_documento_sustento","numero_documento_sustento","numero_autorizacion","fecha_documento_sustento","fecha_registro_contable"],"properties":{"codigo_sustento_tributario":{"type":"string","example":"01","description":"C\u00f3digo del sustento tributario seg\u00fan tabla SRI (01=Cr\u00e9dito Tributario IVA, 02=Costo o Gasto, etc.)"},"codigo_documento_sustento":{"type":"string","example":"01","description":"C\u00f3digo del tipo de documento (01=Factura, 03=Liquidaci\u00f3n de compra, etc.)"},"numero_documento_sustento":{"type":"string","example":"001001000000001","description":"N\u00famero del documento sustento (15 d\u00edgitos sin guiones)"},"numero_autorizacion":{"type":"string","example":"1234567890123456789012345678901234567890123456789","description":"N\u00famero de autorizaci\u00f3n del documento sustento (49 d\u00edgitos electr\u00f3nico, 10 d\u00edgitos f\u00edsico)"},"fecha_documento_sustento":{"type":"string","example":"2024\/01\/10","description":"Fecha de emisi\u00f3n del documento sustento en formato YYYY\/MM\/DD"},"fecha_registro_contable":{"type":"string","example":"2024\/01\/10","description":"Fecha de registro contable en formato YYYY\/MM\/DD"},"items":{"type":"array","description":"Detalle de productos\/servicios del documento sustento (usar items O gastos, no ambos)","items":{"type":"object","required":["codigo_principal","descripcion","tipo_iva","precio_unitario","cantidad"],"properties":{"codigo_principal":{"type":"string","maxLength":25,"example":"PROD001","description":"C\u00f3digo principal del producto"},"codigo_auxiliar":{"type":"string","maxLength":25,"example":"AUX001","description":"C\u00f3digo auxiliar (opcional)"},"descripcion":{"type":"string","maxLength":300,"example":"Servicio de consultor\u00eda","description":"Descripci\u00f3n del producto\/servicio"},"tipo_iva":{"type":"integer","example":2,"description":"Tipo de IVA (0=0%, 2=12%, etc.)"},"precio_unitario":{"type":"number","format":"float","example":100,"description":"Precio unitario"},"cantidad":{"type":"number","format":"float","example":1,"description":"Cantidad"},"descuento":{"type":"number","format":"float","example":0,"description":"Descuento aplicado (opcional)"},"tipo_ice":{"type":"number","example":0,"description":"Tipo de ICE (opcional)"},"valor_ice":{"type":"number","format":"float","example":0,"description":"Valor ICE (opcional)"}}}},"gastos":{"type":"array","description":"Detalle por tipo de gasto\/IVA (usar items O gastos, no ambos)","items":{"type":"object","required":["descripcion","subtotal_iva","subtotal_siniva","subtotal_ivacero","tipo_iva"],"properties":{"descripcion":{"type":"string","maxLength":300,"example":"Servicios profesionales","description":"Descripci\u00f3n del gasto"},"subtotal_iva":{"type":"number","format":"float","example":100,"description":"Subtotal gravado con IVA"},"subtotal_siniva":{"type":"number","format":"float","example":0,"description":"Subtotal sin IVA"},"subtotal_ivacero":{"type":"number","format":"float","example":0,"description":"Subtotal IVA 0%"},"tipo_iva":{"type":"integer","example":2,"description":"Tipo de IVA aplicado"},"tipo_ice":{"type":"number","example":0,"description":"Tipo de ICE (opcional)"},"tarifa_ice":{"type":"number","format":"float","example":0,"description":"Tarifa ICE (opcional)"},"valor_ice":{"type":"number","format":"float","example":0,"description":"Valor ICE (opcional)"}}}}}},"retenciones":{"type":"array","description":"Detalle de retenciones aplicadas","minItems":1,"items":{"type":"object","required":["base_imponible","codigoimpuesto","codigo_retencion","porcentaje_retencion","valor_retenido"],"properties":{"base_imponible":{"type":"number","format":"float","example":100,"description":"Base imponible de la retenci\u00f3n"},"codigoimpuesto":{"type":"integer","example":2,"description":"C\u00f3digo del impuesto (1=Renta, 2=IVA, 6=ISD)"},"codigo_retencion":{"type":"string","example":"10","description":"C\u00f3digo de la retenci\u00f3n seg\u00fan tabla SRI (ej: 10, 20, 303, 304, etc.)"},"porcentaje_retencion":{"type":"number","format":"float","example":10,"description":"Porcentaje de retenci\u00f3n"},"valor_retenido":{"type":"number","format":"float","example":10,"description":"Valor retenido calculado"}}}},"informacion_adicional":{"type":"array","description":"Informaci\u00f3n adicional del comprobante (opcional)","items":{"type":"object","properties":{"nombre":{"type":"string","maxLength":300,"example":"Observaciones","description":"Nombre del campo adicional"},"detalle":{"type":"string","maxLength":300,"example":"Retenci\u00f3n sobre factura 001-001-000000001","description":"Detalle del campo adicional"}}}}}},"examples":{"retencion_basica":{"summary":"Comprobante de retenci\u00f3n b\u00e1sico","description":"Ejemplo de comprobante de retenci\u00f3n simple sobre una factura","value":{"emisor":{"ruc":"0912345678001","secuencial":"000000001","fecha_emision":"2024\/01\/15","nombre_comercial":"Mi Empresa Comercial","razon_social":"MI EMPRESA S.A.","codigo_establecimiento":"001","codigo_puntoemision":"001","direccion_matriz":"Av. Principal 123","direccion_establecimiento":"Av. Sucursal 456","obligado_contabilidad":"SI","agente_retencion":true},"ambiente":1,"codigoDoc":"07","proveedor":{"tipo_identificacion":"04","identificacion":"0987654321001","razon_social":"PROVEEDOR EJEMPLO S.A.","direccion":"Av. Proveedor 789","correo":"proveedor@ejemplo.com"},"sustento":{"codigo_sustento_tributario":"01","codigo_documento_sustento":"01","numero_documento_sustento":"001001000000001","numero_autorizacion":"1234567890123456789012345678901234567890123456789","fecha_documento_sustento":"2024\/01\/10","fecha_registro_contable":"2024\/01\/10","gastos":[{"descripcion":"Servicios profesionales","subtotal_iva":100,"subtotal_siniva":0,"subtotal_ivacero":0,"tipo_iva":2}]},"retenciones":[{"base_imponible":100,"codigoimpuesto":1,"codigo_retencion":"303","porcentaje_retencion":1,"valor_retenido":1},{"base_imponible":12,"codigoimpuesto":2,"codigo_retencion":"10","porcentaje_retencion":30,"valor_retenido":3.6}]}}}}}},"x-code-samples":[{"lang":"curl","label":"cURL (Retenci\u00f3n b\u00e1sica)","source":"curl -X POST \"https:\/\/www.invoka.com.ec\/api\/retencion\/emision\" \\\n  -H \"Content-Type: application\/json\" \\\n  -H \"X-API-KEY: tu-api-key-aqui\" \\\n  -d '{\n    \"emisor\": {\n      \"ruc\": \"0912345678001\",\n      \"secuencial\": \"000000001\",\n      \"fecha_emision\": \"2024\/01\/15\",\n      \"nombre_comercial\": \"Mi Empresa Comercial\",\n      \"razon_social\": \"MI
[...]
